<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <p class="ChapterNumber" MadCap:autonum="1">&#160;</p>
        <h1 MadCap:autonum="1. &#160;">Service Utilization API (UTAPI) Operations</h1>
        <p style="text-align: left;"><MadCap:variable name="General.CompanyName" /><MadCap:variable name="General.ProductName" /> provides a Service Utilization API (UTAPI) for resource utilization tracking and metrics reporting. </p>
        <p style="text-align: left;">UTAPI includes information on <MadCap:variable name="General.CompanyName" /> RING storage capacity, the number of bytes transferred in and out of the service, and the number of operations performed on the service. It extends the basic AWS S3 REST API, enabling a comprehensive, on-premises resource utilization tracking solution, as required by service providers for external billing or internal charge-back reporting capabilities. AWS provides these reporting capabilities through peripheral services such as AWS CloudWatch monitoring and the AWS dashboard, but not currently through the AWS S3 protocol.</p>
        <p style="text-align: left;">UTAPI is deployed and accessed through a RESTful API that is securely authenticated via HTTPS, on a dedicated web server and port. The service is integrated with the <MadCap:variable name="General.ProductName" /> IAM policies for access control through the <code>utapi:ListMetrics</code> policy action.</p>
        <p class="BoxNote">The Service Utilization API is disabled by default. To enable UTAPI functionality, uncomment the enable_utilization_api line in the <span class="ProprietaryFileName">env/{{my_setup_env}}/group_vars/all</span> file and set it to <code>true</code>. </p>
        <p style="text-align: left;">To enable access, an IAM policy must first be created that grants permission for this action, after which the policy must be assigned to the IAM Users or IAM Groups that are permitted to access the service metrics.</p>
        <p>For efficiency, a global maximum of 100 entities per call is enforced for the Bucket entities.</p>
        <p style="text-align: left;page-break-after: avoid;">Federation currently starts the Utapi server at S3 port + 100 on the S3 container.</p><pre>env_s3_port | default(8000)) + 100</pre>
        <p class="BoxNote">Use AWS Signature Version 4 to authenticate UTAPI requests.</p>
    </body>
</html>