﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="822.3334" MadCap:lastWidth="648">
  <head></head>
  <body>
    <h1 MadCap:autonum="1.  ">
      <a name="top"></a>DELETE Bucket CORS</h1>
    <p style="text-align: left;">Use the DELETE Bucket CORS operation to remove the <span class="ElementName">CORS</span> configuration for a bucket. This operation requires the <span class="ElementName">S3:PutBucketCORS</span> permission. </p>
    <h2 MadCap:autonum="1.1.  ">Requests</h2>
    <h3 MadCap:autonum="1.1.1  ">Request Syntax</h3>
    <pre xml:space="preserve" style="page-break-inside: avoid;">DELETE /?cors HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Authorization: {{authenticationInformation}}</pre>
    <p class="BoxNote">The request syntax illustrates only a portion of the request headers. </p>
    <h3 MadCap:autonum="1.1.2  ">Request Parameters</h3>
    <p style="text-align: left;">The DELETE Bucket CORS operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.1.3  ">Request Headers</h3>
    <p style="text-align: left;"> The DELETE Bucket CORS operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Request Headers.htm#Common">“Common Request Headers” on page 1</MadCap:xref>).</p>
    <h3 MadCap:autonum="1.1.4  ">Request Elements</h3>
    <p style="text-align: left;">This operation does not use request elements. </p>
    <h2 MadCap:autonum="1.2.  ">Responses</h2>
    <h3 MadCap:autonum="1.2.1  ">Response Headers</h3>
    <p style="text-align: left;">Implementation of the DELETE Bucket CORS operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Response Headers.htm">“Response Headers” on page 1</MadCap:xref>).</p>
    <h3 MadCap:autonum="1.2.2  ">Response Elements</h3>
    <p style="text-align: left;">This operation does not use response elements. </p>
    <h2 MadCap:autonum="1.3.  ">Examples</h2>
    <h4>Request Sample</h4>
    <pre xml:space="preserve" style="page-break-inside: avoid;">DELETE ?cors HTTP/1.1
Host: example.com
Date: Mon, 15 Feb 2016 15:30:07 GMT
Authorization: {{authenticationInformation}}</pre>
    <h4>Response Sample</h4>
    <pre xml:space="preserve" style="page-break-inside: avoid;">HTTP/1.1 204 No Content
x-amz-id-2: YgIPIfBiKa2bj0KMgUAdQkf3ShJTOOpXUueF6QKo
x-amz-request-id: 3848CD259D811111
Date: Thu, 27 Jan 2011 00:49:26 GMT
Server: ScalityS3
Content-Length: 0</pre>
  </body>
</html>