﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="865.6667" MadCap:lastWidth="650" MadCap:conditions="PrintGuides.Zenko">
  <head></head>
  <body>
    <h1 MadCap:autonum="1.  ">
      <a name="top"></a>DELETE Bucket Lifecycle</h1>
    <p>The DELETE Bucket Lifecycle operations removes the lifecycle configurations set on a bucket. To use this operation, you must have permission to perform the S3:PutLifecycleConfiguration action.

</p>
    <h2 MadCap:autonum="1.1.  ">Requests</h2>
    <h3 MadCap:autonum="1.1.1  ">Request Syntax</h3>
    <pre xml:space="preserve" style="page-break-inside: avoid;">DELETE /?lifecycle HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Authorization: {{authorizationString}
</pre>
    <h3 MadCap:autonum="1.1.2  ">Request Parameters</h3>
    <p>The DELETE Bucket Lifecycle operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.1.3  ">Request Headers </h3>
    <p>The DELETE Bucket Lifecycle operation uses only request headers that are common to all operations (<MadCap:xref href="../8_API Knowledge Primers/Request Headers.htm#Common">“Common Request Headers” on page 1</MadCap:xref>).
</p>
    <h3 MadCap:autonum="1.1.4  ">Request Elements</h3>
    <p>The DELETE Bucket Lifecycle operation does not use request elements.</p>
    <h2 MadCap:autonum="1.2.  ">Responses</h2>
    <h3 MadCap:autonum="1.2.1  ">Response Headers</h3>
    <p>The DELETE Bucket Lifecycle operation uses only response headers that are common to most responses (see <MadCap:xref href="../8_API Knowledge Primers/Response Headers.htm#Common">“Common Response Headers” on page 1</MadCap:xref>).</p>
    <h2 MadCap:autonum="1.3.  ">Examples</h2>
    <p>The following example shows a DELETE request to delete the lifecycle configurations from the specified bucket.</p>
    <p>The following is a sample request.</p>
    <h4>Request Sample</h4>
    <pre xml:space="preserve" style="page-break-inside: avoid;">DELETE /?lifecycle HTTP/1.1
Host: examplebucket.s3.amazonaws.com  
Date: Wed, 14 Dec 2011 05:37:16 GMT
Authorization: {{signatureValue}}</pre>
    <h4>Response Sample</h4>
    <p>The following is a sample response showing a successful “204 No Content” response. Objects in the bucket no longer expire.</p>
    <pre xml:space="preserve" style="page-break-inside: avoid;">HTTP/1.1 204 No Content 
x-amz-id-2: Uuag1LuByRx9e6j5OnimrSAMPLEtRPfTaOAa==  
x-amz-request-id: 656c76696e672SAMPLE5657374  
Date: Wed, 14 Dec 2011 05:37:16 GMT
Connection: keep-alive  
Server: AmazonS3</pre>
  </body>
</html>