﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="870.6667" MadCap:lastWidth="648">
  <head></head>
  <body>
    <h1 MadCap:autonum="1.  ">DELETE Bucket</h1>
    <p style="text-align: left;">The DELETE Bucket operation deletes a named bucket only if the bucket is empty.</p>
    <p class="BoxNote">Before a bucket can be deleted, all object must be deleted from the bucket and all ongoing multipart uploads must be aborted.</p>
    <h2 MadCap:autonum="1.1.  ">Requests</h2>
    <h3 MadCap:autonum="1.1.1  ">Request Syntax</h3>
    <pre xml:space="preserve">DELETE / HTTP/1.1
Host: {{BucketName}}.{{ConnectorName}}.{{StorageService}}.com
Date: {{date}}
Authorization: {{authenticationInformation}</pre>
    <h3 MadCap:autonum="1.1.2  ">Request Parameters</h3>
    <p style="text-align: left;">The DELETE Bucket operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.1.3  ">Request Headers</h3>
    <p style="text-align: left;">Implementation of the DELETE Bucket operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Request Headers.htm#Common">“Common Request Headers” on page 1</MadCap:xref>). </p>
    <h3 MadCap:autonum="1.1.4  ">Request Elements</h3>
    <p style="text-align: left;">The DELETE Bucket operation does not use request elements.</p>
    <h2 MadCap:autonum="1.2.  ">Responses</h2>
    <h3 MadCap:autonum="1.2.1  ">Response Headers</h3>
    <p style="text-align: left;">Implementation of the DELETE Bucket operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Response Headers.htm">“Response Headers” on page 1</MadCap:xref>).</p>
    <h3 MadCap:autonum="1.2.2  ">Response Elements</h3>
    <p>The DELETE Bucket operation does not return response elements.</p>
    <pre xml:space="preserve">Host: documentation.s3.scality.com
Date: Tue, 21 Jun 2011 12:12:34 GMT</pre>
    <h2 MadCap:autonum="1.3.  ">Examples</h2>
    <h3 MadCap:autonum="1.3.1  ">Deleting the “documentation” Bucket</h3>
    <h4>Request Sample</h4>
    <pre xml:space="preserve">DELETE / HTTP/1.1
Host: documentation.s3.scality.com
Date: Tue, 21 Jun 2011 12:12:34 GMT
Authorization: AWS pat:BAupPCpkyeIGKH2s5Je4Bc32bc=</pre>
    <h4>Response Sample</h4>
    <pre xml:space="preserve">HTTP/1.1 204 No Content
Date: Tue, 21 Jun 2011 12:12:34 GMT
Server: RestServer/1.0
Content-Type: application/octet-stream
Cache-Control: no-cache
Connection: close</pre>
  </body>
</html>