﻿<?xml version="1.0" encoding="utf-8"?>
<html MadCap:lastBlockDepth="6" MadCap:lastHeight="864.3333" MadCap:lastWidth="648" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
  <head>
    <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
  </head>
  <body>
    <h1 MadCap:autonum="1.  ">GET Bucket Versioning</h1>
    <p style="text-align: left;">The GET Bucket Versioning operation uses the <span class="ElementName">versioning </span>subresource to return the versioning state of a bucket. </p>
    <p class="BoxNote">Only the bucket owner can retrieve the versioning state of a bucket.</p>
    <table style="width: 100%;margin-left: auto;margin-right: auto;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">
            <p>Versioning State</p>
          </th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">
            <p>Response</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>versioning is enabled on a bucket</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <pre xml:space="preserve">&lt;VersioningConfiguration xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
  &lt;Status&gt;Enabled&lt;/Status&gt;
&lt;/VersioningConfiguration&gt;</pre>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>versioning is suspended on a bucket</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <pre xml:space="preserve">&lt;VersioningConfiguration xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
  &lt;Status&gt;Suspended&lt;/Status&gt;
&lt;/VersioningConfiguration&gt;</pre>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>versioning has not been enabled (or suspended) on a bucket</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <pre xml:space="preserve">&lt;VersioningConfiguration xmlns="http://s3.scality.com/doc/2006-03-01/"/&gt;</pre>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 MadCap:autonum="1.1.  ">Requests</h2>
    <h3 MadCap:autonum="1.1.1  ">Request Syntax</h3>
    <pre xml:space="preserve">GET /?versioning HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Current-Length: {{length}}
Authorization: {{authenticationInformation}}</pre>
    <h3 MadCap:autonum="1.1.2  ">Request Parameters</h3>
    <p style="text-align: left;">The GET Bucket Versioning operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.1.3  ">Request Headers </h3>
    <p style="text-align: left;">The GET Bucket Versioning operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Request Headers.htm#Common">“Common Request Headers” on page 1</MadCap:xref>).</p>
    <h3 MadCap:autonum="1.1.4  ">Request Elements</h3>
    <p style="text-align: left;">Implementation of the GET Bucket Versioning operation does not use request elements. </p>
    <h2 MadCap:autonum="1.2.  ">Responses</h2>
    <h3 MadCap:autonum="1.2.1  ">Response Headers</h3>
    <p style="text-align: left;page-break-after: avoid;">Implementation of the GET Bucket Versioning operation returns the following response elements.</p>
    <h3 MadCap:autonum="1.2.2  ">Response Elements</h3>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 212px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 92px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 390px;" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Status</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>enum</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p style="text-align: left;">The versioning state of the bucket.</p>
            <p style="text-align: left;">Valid Values: Disabled | Enabled</p>
            <p>
Ancestors: <span class="ElementName">VersioningConfiguration</span></p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>VersioningConfiguration</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>Container</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Container for the <span class="ElementName">status</span> response element.</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 MadCap:autonum="1.3.  ">Examples</h2>
    <p>The example offered returns the versioning state of <span class="ProprietaryNonConventional">myBucket</span>.</p>
    <h4>Request Sample</h4>
    <pre xml:space="preserve">GET /?versioning HTTP/1.1
Host: myBucket.s3.scality.com
Date: Tue, 13 Dec 2011 19:14:42 GMT 
Authorization: {{authenticationInformation}}
Content-Type: text/plain</pre>
    <h4>Response Sample</h4>
    <pre xml:space="preserve">&lt;VersioningConfiguration xmlns="http://s3.scality.com/"&gt;
  &lt;Status&gt;Enabled&lt;/Status&gt;
&lt;/VersioningConfiguration&gt;</pre>
  </body>
</html>