﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="848.3334" MadCap:lastWidth="648">
  <head>
    <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
  </head>
  <body>
    <h1 MadCap:autonum="1.  ">
      <a name="top"></a>GET Bucket CORS</h1>
    <p style="text-align: left;page-break-after: avoid;">The GET Bucket CORS operation returns a bucket’s <span class="ElementName">cors</span> configuration information. This operation requires <span class="ElementName">S3:GetBucketCORS</span> permission.</p>
    <h2 MadCap:autonum="1.1.  ">Requests</h2>
    <h3 MadCap:autonum="1.1.1  ">Request Syntax</h3>
    <pre xml:space="preserve" style="page-break-inside: avoid;">GET /?cors HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Authorization: {{authenticationInformation}}</pre>
    <p class="BoxNote">The request syntax illustrates only a portion of the request headers. </p>
    <h3 MadCap:autonum="1.1.2  ">Request Parameters</h3>
    <p style="text-align: left;">The GET Bucket CORS operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.1.3  ">Request Headers </h3>
    <p style="text-align: left;">The GET Bucket CORS operation uses only request headers that are common to all operations (see  <MadCap:xref href="../8_API Knowledge Primers/Request Headers.htm#Common">“Common Request Headers” on page 1</MadCap:xref>).</p>
    <h3 MadCap:autonum="1.1.4  ">Request Elements</h3>
    <p style="text-align: left;">Implementation of the GET Bucket CORS operation does not use request elements. </p>
    <h2 MadCap:autonum="1.2.  ">Responses</h2>
    <h3 MadCap:autonum="1.2.1  ">Response Headers</h3>
    <p style="text-align: left;">Implementation of the GET Bucket CORS operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Response Headers.htm">“Response Headers” on page 1</MadCap:xref>).</p>
    <h3 MadCap:autonum="1.2.2  ">Response Elements</h3>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 212px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 92px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 390px;" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>CORSConfiguration</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Container</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p style="text-align: left;">Container for up to 100 CORSRules elements.</p>
            <p>
Ancestors: None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">CORSRule</td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Container</td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p style="text-align: left;">A set of origins and methods (cross-origin the access to allow). Up to 100 rules can be added to the configuration.</p>
            <p style="text-align: left;">
Ancestors: <span class="ElementName">CORSConfiguration</span></p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">CORSConfiguration</td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Container</td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Container for up to 100 <span class="ElementName">CORSRules</span> elements.
</p>
            <p>Children: <span class="ElementName">CORSRules</span><![CDATA[

]]></p>
            <p>Ancestor: None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">CORSRule</td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Container</td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>A set of origins and methods (cross-origin access to allow). Up to 100 rules can be added to the configuration.

</p>
            <p>Children: <span class="ElementName">AllowedOrigin, AllowedMethod, MaxAgeSeconds, ExposeHeader, ID</span>.

</p>
            <p>Ancestor: <span class="ElementName">CORSConfiguration</span></p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">AllowedHeader</td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Integer </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1" style="text-align: left;">
            <p>Specifies which headers are allowed in a pre-flight OPTIONS request through the Access-Control-Request-Headers header. Each header name specified in the Access-Control-Request-Headers must have a corresponding entry in the rule. Only the headers that were requested will be sent back. This element can contain at most one * wildcard character.

</p>
            <p>A <span class="ElementName">CORSRule</span> can have at most one <span class="ElementName">MaxAgeSeconds</span> element.
</p>
            <p>Ancestor: <span class="ElementName">CORSRule</span></p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">AllowedMethod</td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Enum </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Identifies an HTTP method that the domain/origin specified in the rule is allowed to execute.

Each <span class="ElementName">CORSRule</span> must contain at least one <span class="ElementName">AllowedMethod</span> and one <span class="ElementName">AllowedOrigin</span> element.</p>
            <p>Ancestor: <span class="ElementName">CORSRule</span></p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">AllowedOrigin</td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>One or more response headers that users are allowed to access from their applications (for example, from a JavaScript XMLHttpRequest object).

Each <span class="ElementName">CORSRule</span> must have at least one <span class="ElementName">AllowedOrigin</span> element. The string value can include at most one “*” wildcard character, for example, “http://*.example.com”. Also, it is possible to specify only “*” to allow cross-origin access for all domains/origins.
</p>
            <p>Ancestor: <span class="ElementName">CORSRule</span></p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">ExposeHeader</td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>One or more headers in the response that users can access from their applications (for example, from a JavaScript XMLHttpRequest object).

Add one ExposeHeader in the rule for each header.

</p>
            <p>Ancestor: <span class="ElementName">CORSRule</span></p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">ID</td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>An optional unique identifier for the rule. The ID value can be up to 255 characters long. The IDs can assist in finding a rule in the configuration.

</p>
            <p>
Ancestor: <span class="ElementName">CORSRule</span></p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">MaxAgeSeconds</td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">Integer </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>The time in seconds that thse browser is to cache the preflight response for the specified resource.

A <span class="ElementName">CORSRule</span> can have at most one <span class="ElementName">MaxAgeSeconds</span> element.
</p>
            <p>Ancestor: <span class="ElementName">CORSRule</span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 MadCap:autonum="1.3.  ">Examples</h2>
    <h3 MadCap:autonum="1.3.1  ">Retrieve CORS Subresource</h3>
    <p style="text-align: left;">This request retrieves the <span class="ElementName">cors</span> subresource of a bucket.</p>
    <h4>Request Sample</h4>
    <pre xml:space="preserve" style="page-break-inside: avoid;">GET /?cors HTTP/1.1
Host: example.com
Date: Tue, 13 Dec 2011 19:14:42 GMT 
Authorization: {{authenticationInformation}}</pre>
    <h4>Response Sample</h4>
    <pre xml:space="preserve" style="page-break-inside: avoid;">HTTP/1.1 200 OK
x-amz-id-2: 0FmFIWsh/PpBuzZ0JFRC55ZGVmQW4SHJ7xVDqKwhEdJmf3q63RtrvH8ZuxW1Bol5
x-amz-request-id: 0CF038E9BCF63097
Date: Tue, 13 Dec 2011 19:14:42 GMT
Server: ScalityS3
Content-Length: 280</pre>
    <pre xml:space="preserve">
&lt;CORSConfiguration&gt;
     &lt;CORSRule&gt;
       &lt;AllowedOrigin&gt;http://www.example.com&lt;/AllowedOrigin&gt;
       &lt;AllowedMethod&gt;GET&lt;/AllowedMethod&gt;
       &lt;MaxAgeSeconds&gt;3000&lt;/MaxAgeSec&gt;
       &lt;ExposeHeader&gt;x-amz-server-side-encryption&lt;/ExposeHeader&gt;
     &lt;/CORSRule&gt;
&lt;/CORSConfiguration&gt;</pre>
  </body>
</html>