﻿<?xml version="1.0" encoding="utf-8"?>
<html MadCap:lastBlockDepth="6" MadCap:lastHeight="831.3334" MadCap:lastWidth="648" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
  <head>
    <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
  </head>
  <body>
    <h1 MadCap:autonum="1.  ">GET Bucket Location</h1>
    <p>The GET Bucket Location operation uses the <span class="ElementName">location </span>subresource to return a bucket’s location. The bucket’s location is set up using the <span class="ElementName">LocationConstraint</span> request parameter in a PUT Bucket request. Refer to <MadCap:xref href="PUT Bucket.htm">“PUT Bucket” on page 1</MadCap:xref>. </p>
    <p class="BoxNote">The possible options for a <span class="ElementName">LocationConstraint</span> are configured in the <span class="ElementName">env_s3</span> setting of the S3 Configuration. For more information, refer to “Modifying the Group Variables (all) File” in the <span class="PublicationName"><MadCap:variable name="General.SetupInstall"></MadCap:variable></span>.</p>
    <h2 MadCap:autonum="1.1.  ">Requests</h2>
    <h3 MadCap:autonum="1.1.1  ">Request Syntax</h3>
    <pre xml:space="preserve" style="page-break-inside: avoid;">GET /?location HTTP/1.1
Host: {{BucketName}}.{{ConnectorName}}.{{StorageService}}.com
Date: {{date}}
Authorization: {{authenticationInformation}}</pre>
    <h3 MadCap:autonum="1.1.2  ">Request Parameters</h3>
    <p style="text-align: left;">The GET Bucket Location operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.1.3  ">Request Headers</h3>
    <p style="text-align: left;">Implementation of the GET Bucket Location operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Request Headers.htm#Common">“Common Request Headers” on page 1</MadCap:xref>). </p>
    <h3 MadCap:autonum="1.1.4  ">Request Elements</h3>
    <p style="text-align: left;">The GET Bucket Location  operation does not use request elements.</p>
    <h2 MadCap:autonum="1.2.  ">Responses</h2>
    <h3 MadCap:autonum="1.2.1  ">Response Headers</h3>
    <p style="text-align: left;">Implementation of the GET Bucket Location  operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Response Headers.htm">“Response Headers” on page 1</MadCap:xref>).</p>
    <h3 MadCap:autonum="1.2.2  ">Response Elements</h3>
    <p style="text-align: left;">The GET Bucket Location  operation can return the following XML elements in the response: </p>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 120px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 80px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>LocationConstraint</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>String</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Specifies the location of the bucket. The <span class="ElementName">LocationConstraint</span> parameter is configured in the <span class="ElementName">env_s3</span> setting of the S3 Configuration. For more information, refer to “Modifying the Group Variables (all) File” in the <span class="PublicationName"><MadCap:variable name="General.SetupInstall"></MadCap:variable></span>.</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 MadCap:autonum="1.3.  ">Examples</h2>
    <div>
      <h4>Request Sample</h4>
      <pre xml:space="preserve">GET /?location HTTP/1.1 
Host: myBucket.s3.scality.com
Date: Thu, 31 Mar 2016 15:11:47 GMT
Authorization: AWS pat:6nYhPMw6boadLgjywjSIyhfwRIA=</pre>
    </div>
    <div>
      <h4>Response Sample</h4>
      <pre xml:space="preserve">&lt;xml version="1.0" encoding="UTF-8"?&gt;
&lt;LocationConstraint xmlns="http://s3.amazonaws.com/doc/2006-03-01/"&gt;EU&lt;/LocationConstraint&gt;</pre>
    </div>
  </body>
</html>