﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="797.3334" MadCap:lastWidth="648" MadCap:conditions="PrintGuides.Zenko">
  <head>
    <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
  </head>
  <body>
    <h1 MadCap:autonum="1.  ">
      <a name="top"></a>GET Bucket Lifecycle</h1>
    <p>The GET Bucket Lifecycle operation returns the lifecycle configuration information set on the bucket. This GET operation requires the S3:GetLifecycleConfiguration permission.
</p>
    <h2 MadCap:autonum="1.1.  ">Requests</h2>
    <h3 MadCap:autonum="1.1.1  ">Request Syntax</h3>
    <pre xml:space="preserve" style="page-break-inside: avoid;">GET /?lifecycle HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Authorization: {{authorizationString}}
</pre>
    <h3 MadCap:autonum="1.1.2  ">Request Parameters</h3>
    <p>The GET Bucket Lifecycle operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.1.3  ">Request Headers </h3>
    <p>The GET Bucket Lifecycle operation uses only request headers that are common to all operations (see <MadCap:xref href="../8_API Knowledge Primers/Request Headers.htm#Common">“Common Request Headers” on page 1</MadCap:xref>).</p>
    <h3 MadCap:autonum="1.1.4  ">Request Elements</h3>
    <p>The GET Bucket Lifecycle operation does not use request elements.</p>
    <h2 MadCap:autonum="1.2.  ">Responses</h2>
    <h3 MadCap:autonum="1.2.1  ">Response Headers</h3>
    <p>Implementation of the GET Bucket Lifecycle operation uses only response headers that are common to all operations (see <MadCap:xref href="../8_API Knowledge Primers/Response Headers.htm#Common">“Common Response Headers” on page 1</MadCap:xref>).</p>
    <h3 MadCap:autonum="1.2.2  ">Response Elements</h3>
    <p>The GET Bucket Lifecycle operation returns the following response elements.</p>
    <table style="mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');width: 100%;" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">
            <p>Name</p>
          </th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">
            <p>Description</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>And</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Container for specifying Prefix and Tag based filters.</p>
            <p>
              <b>Child:</b> Prefix and Tag</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Ancestor:</b> Filter</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>AbortIncompleteMultipartUpload</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Container for specifying when an incomplete multipart upload becomes eligible for an abort operation.</p>
            <p>
              <b>Child:</b> DaysAfterInitiation</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Ancestor:</b> Rule</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Date</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Date when you want the action to take place. </p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Expiration or Transition</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Days</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Specifies the number of days after object creation when the specific rule action takes effect. The object’s eligibility time is calculated as creation time + the number of days.</p>
            <p>
              <b>Type:</b> Nonnegative Integer when used with Transition, or Positive Integer when used with Expiration.</p>
            <p>
              <b>Ancestor:</b> Transition or Expiration</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>DaysAfterInitiation</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Specifies the number of days after initiating a multipart upload when the multipart upload must be completed. If it does not complete by the specified number of days, the incomplete multipart upload will be aborted.</p>
            <p>
              <b>Type:</b> Positive Integer</p>
            <p>
              <b>Ancestor:</b> AbortIncompleteMultipartUpload</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Expiration</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>The expiration action occurs only on objects that are eligible according to the period specified in the child Date or Days element. The action depends on whether the bucket is versioning enabled (or suspended).</p>
            <p>If versioning has never been enabled on the bucket, the object is permanently deleted.</p>
            <p>Otherwise, if the bucket is versioning-enabled or versioning-suspended, the action applies only to the current version of the object. Buckets with versioning-enabled or versioning-suspended can have many versions of the same object, one current version, and zero or more noncurrent versions.</p>
            <p>Instead of deleting the current version, the current version becomes a noncurrent version and a delete marker is added as the new current version.</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Children:</b> Days or Date</p>
            <p>
              <b>Ancestor:</b> Rule</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Filter</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Container element describing one or more filters used to identify a subset of objects to which the lifecycle rule applies.</p>
            <p>
              <b>Child:</b> Prefix, Tag, or And (if both prefix and tag are specified)</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Rule</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>ID</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Unique identifier for the rule. The value cannot be longer than 255 characters.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Rule</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Key</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Tag key</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Tag</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>LifecycleConfiguration</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Container for lifecycle rules. You can add as many as 1000 rules.</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Children:</b> Rule</p>
            <p>
              <b>Ancestor:</b> None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>ExpiredObjectDeleteMarker</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>On a versioning-enabled or versioning-suspended bucket, any expired object delete markers will be deleted in the bucket.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Valid values:</b> true or false</p>
            <p>
              <b>Ancestor:</b> Expiration</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>NoncurrentDays</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Specifies the number of days an object is noncurrent before performing the associated action.</p>
            <p>
              <b>Type:</b> Nonnegative Integer when used with NoncurrentVersionTransition, or Positive Integer when used with NoncurrentVersionExpiration</p>
            <p>
              <b>Ancestor:</b> NoncurrentVersionExpiration or NoncurrentVersionTransition</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>NoncurrentVersionExpiration</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Specifies when noncurrent object versions expire. Upon expiration, the applicable noncurrent object versions are permanently deleted.</p>
            <p>You set this lifecycle configuration action on a bucket that has versioning enabled (or suspended).</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Children:</b> NoncurrentDays</p>
            <p>
              <b>Ancestor:</b> Rule</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>NoncurrentVersionTransition</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Container for the transition rule that describes when noncurrent objects transition to another storage class.</p>
            <p>If your bucket is versioning-enabled or versioning-suspended, you can set this action to transition noncurrent object versions to another storage class at a specified period in the object’s lifetime.</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Children:</b> NoncurrentDays and StorageClass</p>
            <p>
              <b>Ancestor:</b> Rule</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Prefix</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Object key prefix identifying one or more objects to which the rule applies.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Filter or And (if you specify Prefix and Tag child elements in the Filter)</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Rule</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Container for a lifecycle rule.</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Ancestor:</b> LifecycleConfiguration</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Status</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Rule</p>
            <p>
              <b>Valid values:</b> Enabled or Disabled</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>StorageClass</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Specifies the storage class to which you want to transition the object.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Transition and NoncurrentVersionTransition</p>
            <p>
              <b>Valid values:</b> STANDARD, STANDARD_IA, or GLACIER</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Tag</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Container listing the tag key and value used to filter objects to which the rule applies.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Filter</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Transition</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>This action specifies a period in the objects’ lifetime to transition to another storage class.</p>
            <p>If versioning has never been enabled on the bucket, the object will transition to the specified storage class.</p>
            <p>Otherwise, when your bucket is versioning-enabled or versioning-suspended, only the current version of the object identified in the rule.</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Children:</b> Days or Date, and StorageClass</p>
            <p>
              <b>Ancestor:</b> Rule</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>Value</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Tag key value.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Tag</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 MadCap:autonum="1.2.3  ">Special Errors</h3>
    <table style="mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">
            <p>Error Code</p>
          </th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">
            <p>Description</p>
          </th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">
            <p>HTTP Status Code</p>
          </th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">
            <p>SOAP Fault Code Prefix</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>NoSuchLifecycleConfiguration</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>The lifecycle configuration does not exist.</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>404 Not Found</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Client</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 MadCap:autonum="1.3.  ">Examples</h2>
    <p>The following example shows a GET request to retrieve the lifecycle configurations from a specified bucket.</p>
    <p>The following is a sample request:</p>
    <pre>GET /?lifecycle HTTP/1.1 
Host: examplebucket.s3.amazonaws.com
x-amz-date: Thu, 15 Nov 2012 00:17:21 GMT
Authorization: signatureValue</pre>
    <p>The following is a sample response that shows a prefix of “projectdocs/” filter and multiple lifecycle configurations for these objects.</p>
    <ul>
      <li>Transition to STANDARD_IA after 30 days</li>
      <li>Transition to GLACIER after 365 days</li>
      <li>Expire after 3,650 days</li>
    </ul>
    <pre>HTTP/1.1 200 OK
x-amz-id-2: ITnGT1y4RyTmXa3rPi4hklTXouTf0hccUjo0iCPjz6FnfIutBj3M7fPGlWO2SEWp
x-amz-request-id: 51991C342C575321
Date: Thu, 15 Nov 2012 00:17:23 GMT
Server: AmazonS3
Content-Length: 358</pre>
    <p> </p>
    <pre>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;LifecycleConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"&gt;
    &lt;Rule&gt;
        &lt;ID&gt;Archive and then delete rule&lt;/ID&gt;
        &lt;Filter&gt;
            &lt;Prefix&gt;projectdocs/&lt;/Prefix&gt;
        &lt;/Filter&gt;
        &lt;Status&gt;Enabled&lt;/Status&gt;
        &lt;Transition&gt;
            &lt;Days&gt;30&lt;/Days&gt;
            &lt;StorageClass&gt;STANDARD_IA&lt;/StorageClass&gt;
        &lt;/Transition&gt;
        &lt;Transition&gt;
            &lt;Days&gt;365&lt;/Days&gt;
            &lt;StorageClass&gt;GLACIER&lt;/StorageClass&gt;
        &lt;/Transition&gt;
        &lt;Expiration&gt;
            &lt;Days&gt;3650&lt;/Days&gt;
        &lt;/Expiration&gt;
    &lt;/Rule&gt;
&lt;/LifecycleConfiguration&gt;</pre>
  </body>
</html>