<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
  <head>
    <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
  </head>
  <body>
    <h1 MadCap:autonum="1.  ">PUT Bucket</h1>
    <p style="text-align: left;">The PUT Bucket operation creates a bucket and sets the account issuing the request as the bucket owner. Buckets cannot be created by anonymous requests (no authentication information is sent).</p>
    <h2 MadCap:autonum="1.1.  ">Requests</h2>
    <h3 MadCap:autonum="1.1.1  ">Request Syntax</h3>
    <pre xml:space="preserve">PUT / HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Content-Length: {{length}}
Date: {{date}}
Authorization: {{authenticationInformation}}

&lt;CreateBucketConfiguration xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
&lt;LocationConstraint&gt;scality-us-west-1&lt;/LocationConstraint&gt;
&lt;/CreateBucketConfiguration&gt;</pre>
    <p class="BoxNote">The possible options for a <span class="ElementName">LocationConstraint</span> are configured in the <span class="ElementName">env_s3</span> setting of the S3 Configuration. For more information, refer to "Modifying the Group Variables (all) File" in the <i>Installation Guide</i>.</p>
    <p>If the Host header of a PUT Bucket request does not match any of the rest endpoints in your configuration, and a region is not specified in the request, it will be automatically assigned <span class="ElementName">us-east-1</span>.</p>
    <p>The request syntax illustrates only a portion of the request headers. </p>
    <h3 MadCap:autonum="1.1.2  ">Request Parameters</h3>
    <p style="text-align: left;">The PUT Bucket operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.1.3  ">Request Headers</h3>
    <p style="text-align: left;"> The PUT Bucket operation can use a number of optional request headers in addition to those that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Request Headers.htm#Common">“Common Request Headers” on page 1</MadCap:xref>). These request headers are used either to specify a predefined—or <i>canned</i>—ACL, or to explicitly specify access permissions.</p>
    <h4>
      <a name="Specifyi"></a>Specifying a Canned ACL</h4>
    <p style="text-align: left;">
      <MadCap:variable name="General.ProductName" /> supports a set of canned ACLs, each with a predefined set of grantees and permissions. </p>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 67px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">x-amz-acl</td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">string</td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>The canned ACL to apply to the bucket being created</p>
            <p>Default: <code>private</code></p>
            <p>Valid Values: <code>private</code> | <code>public-read</code> | <code>public-read-write</code> | <code>authenticated-read</code> | <code>bucket-owner-read</code> | <code>bucket-owner-full-control</code></p>
            <p>Constraints: None</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h4>Explicitly Specifying Access Permissions</h4>
    <p style="text-align: left;">A set of headers is available for explicitly granting access permissions to specific <MadCap:variable name="General.ProductName" /> accounts or groups, each of which maps to specific permissions <MadCap:variable name="General.ProductName" /> supports in an ACL.</p>
    <p style="text-align: left;">In the header value, specify a list of grantees who get the specific permission.</p>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>x-amz-grant-read</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Allows grantee to list the objects in the bucket </p>
            <p>Default: None </p>
            <p>Constraints: None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>x-amz-grant-write</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Allows grantee to create, overwrite, and delete any object in the bucket</p>
            <p>Default: None </p>
            <p>Constraints: None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>x-amz-grant-read-acp</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Allows grantee to read the bucket ACL</p>
            <p>Default: None </p>
            <p>Constraints: None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>x-amz-grant-write-acp</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Allows grantee to write the ACL for the applicable bucket</p>
            <p>Default: None </p>
            <p>Constraints: None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>x-amz-grant-full-control</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Allows grantee READ, WRITE, READ_ACP, and WRITE_ACP permissions on the ACL</p>
            <p>Default: None </p>
            <p>Constraints: None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>x-amz-scal-server-side-encryption</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Special optional header, specifies that the source object is to be encrypted.</p>
            <p>Default: AES256</p>
            <p>Constraints: Must be AES256.</p>
          </td>
        </tr>
      </tbody>
    </table>
    <p style="text-align: left;page-break-after: avoid;">Each grantee is specified as a <code>type=value</code> pair, where the type can be one any one of the following:</p>
    <ul style="page-break-inside: avoid;">
      <li>
        <code>emailAddress</code> (if value specified is the email address of an account)</li>
      <li>
        <code>id</code> (if value specified is the canonical user ID of an account)</li>
      <li>
        <code>uri</code> (if granting permission to a predefined group)</li>
    </ul>
    <p style="text-align: left;">For example, the following <span class="ElementName">x-amz-grant-read header</span> grants list objects permission to the accounts identified by their email addresses:</p>
    <pre>x-amz-grant-read: emailAddress="xyz@scality.com", emailAddress="abc@scality.com"</pre>
    <h3 MadCap:autonum="1.1.4  ">Request Elements</h3>
    <p style="text-align: left;">The PUT Bucket operation can request the following items: </p>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 120px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 80px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">CreateBucketConfiguration</td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>container</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Container for bucket configuration settings</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1" MadCap:conditions="">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>LocationConstraint</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>enum</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">Specifies  where the bucket will be created</td>
        </tr>
      </tbody>
    </table>
    <h2 MadCap:autonum="1.2.  ">Responses</h2>
    <h3 MadCap:autonum="1.2.1  ">Response Headers</h3>
    <p style="text-align: left;">Implementation of the PUT Bucket operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
    <h3 MadCap:autonum="1.2.2  ">Response Elements</h3>
    <p style="text-align: left;">The PUT Bucket operation does not return response elements.</p>
    <h2 MadCap:autonum="1.3.  ">Examples</h2>
    <h3 MadCap:autonum="1.3.1  ">Create a Bucket Named "Documentation"</h3>
    <h4>Request Sample</h4>
    <pre xml:space="preserve">PUT / HTTP/1.1
Host: documentation.demo.s3.scality.com
Content-Length: 0
Date: Mon, 15 Feb 2016 15:30:07 GMT
Authorization: AWS pat:fxA/7CeKyl3QJewhIguziTMp8Cc=</pre>
    <h4>Response Sample</h4>
    <pre xml:space="preserve">HTTP/1.1 200 OK
x-amz-id-2: YgIPIfBiKa2bj0KMg95r/0zo3emzU4dzsD4rcKCHQUAdQkf3ShJTOOpXUueF6QKo
x-amz-request-id: 236A8905248E5A01
Date: Mon, 15 Feb 2016 15:30:07 GMT

Location: /documentation
Content-Length: 0
Connection: close
Server: ScalityS3</pre>
    <h3 MadCap:autonum="1.3.2  ">Setting the Location Constraint of a Bucket</h3>
    <p class="BoxNote">The possible options for a <span class="ElementName">LocationConstraint</span> are configured in the <span class="ElementName">env_s3</span> setting of the S3 Configuration. For more information, see “Modifying the Group Variables (all) File” in the <i>Installation Guide</i>.</p>
    <h4>Request Sample</h4>
    <p style="text-align: left;">A PUT Bucket operation example request that sets the location constraint of the bucket to EU.</p>
    <pre xml:space="preserve">PUT / HTTP/1.1
Host: {{bucketName}}.s3.{{storageService}}.com 
Date: Wed, 12 Oct 2009 17:50:00 GMT
Authorization: {{authorizationString}}
Content-Type: text/plain
Content-Length: 124

&lt;CreateBucketConfiguration xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
&lt;LocationConstraint&gt;EU&lt;/LocationConstraint&gt;
&lt;/CreateBucketConfiguration &gt;</pre>
    <h3 MadCap:autonum="1.3.3  ">Creating a Bucket and Configuring Access Permission Using a Canned ACL</h3>
    <div>
      <h4>Request Sample</h4>
      <p style="text-align: left;">A PUT Bucket operation example request that creates a bucket named “documentation” and sets the ACL to private.</p>
      <pre xml:space="preserve">PUT / HTTP/1.1
Host: documentation.s3.scality.com
Content-Length: 0
x-amz-acl: private
Date: Wed, 01 Mar  2006 12:00:00 GMT
Authorization: {{authorizationString}}</pre>
    </div>
    <div>
      <h4>Response Sample</h4>
      <pre xml:space="preserve">HTTP/1.1 200 OK
x-amz-id-2: YgIPIfBiKa2bj0KMg95r/0zo3emzU4dzsD4rcKCHQUAdQkf3ShJTOOpXUueF6QKo
x-amz-request-id: 236A8905248E5A01
Date: Wed, 01 Mar  2006 12:00:00 GMT

Location: /documentation
Content-Length: 0
Connection: close
Server: ScalityS3</pre>
    </div>
    <h3 MadCap:autonum="1.3.4  ">Creating a Bucket and Explicitly Configuring Access Permissions</h3>
    <div>
      <h4>Request Sample</h4>
      <p style="text-align: left;">A PUT Bucket operation example request that creates a bucket named “documentation” and grants WRITE permission to the account identified by an email address.</p>
      <pre xml:space="preserve">PUT HTTP/1.1
Host: documentation.s3.{{storageService}}.com
x-amz-date: Sat, 07 Apr 2012 00:54:40 GMT
Authorization: {{authorizationString}}
x-amz-grant-write: emailAddress="xyz@scality.com", emailAddress="abc@scality.com"</pre>
    </div>
    <div>
      <h4>Response Sample</h4>
      <pre xml:space="preserve">HTTP/1.1 200 OK</pre>
    </div>
  </body>
</html>