﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="854.6666" MadCap:lastWidth="648" MadCap:conditions="PrintGuides.Zenko">
  <head>
    <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
  </head>
  <body>
    <h1 MadCap:autonum="1.  ">
      <a name="top"></a>PUT Bucket Lifecycle</h1>
    <p>The PUT Bucket Lifecycle operation creates a new lifecycle configuration or replaces an existing one.</p>
    <h2 MadCap:autonum="1.1.  ">Requests</h2>
    <h3 MadCap:autonum="1.1.1  ">Request Syntax</h3>
    <pre>PUT /?lifecycle HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Content-Length: {{length}}
Date: {{date}}
Authorization: {{authorizationString}}
Content-MD5: MD5</pre>
    <h3 MadCap:autonum="1.1.2  ">Request Parameters</h3>
    <p>The PUT Bucket Lifecycle operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.1.3  ">Request Headers</h3>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 64px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 909px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Name</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Required</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>Content MD-5</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>The base64-encoded 128-bit MD5 digest of the data; must be used as a message integrity check to verify that the request body was not corrupted in transit. For more information, go to RFC 1864.

</p>
            <p>
              <b>Type:</b> String
</p>
            <p>
              <b>Default:</b> None</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Yes</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 MadCap:autonum="1.1.4  ">Request Body</h3>
    <p>The lifecycle configuration can be specified in the request body. The configuration is specified as XML consisting of one or more rules.</p>
    <pre xml:space="preserve">&lt;LifecycleConfiguration&gt;
    &lt;Rule&gt;
        ...
    &lt;/Rule&gt;
    &lt;Rule&gt;
        ...
    &lt;/Rule&gt;
&lt;/LifecycleConfiguration&gt;</pre>
    <p>Each rule consists of the following:</p>
    <ul>
      <li>A filter identifying a subset of objects to which the rule applies. The filter can be based on a key name prefix, object tags, or a combination of both.</li>
      <li>A status, indicating whether the rule is in effect.</li>
      <li>One or more lifecycle transition and expiration actions to perform on the objects identified by the filter. If the state of your bucket is versioning-enabled or versioning-suspended, you can have many versions of the same object (one current version, and zero or more non-current versions). Amazon S3 provides predefined actions that you can specify for current and non-current object versions.</li>
    </ul>
    <p style="page-break-after: avoid;">For example:</p>
    <pre xml:space="preserve">&lt;LifecycleConfiguration&gt;
    &lt;Rule&gt;
        &lt;Filter&gt;
            &lt;Prefix&gt;key-prefix&lt;/Prefix&gt;
        &lt;/Filter&gt;
        &lt;Status&gt;rule-status&lt;/Status&gt;
        [One or more Transition/Expiration lifecycle actions.]
    &lt;/Rule&gt;
&lt;/LifecycleConfiguration&gt;</pre>
    <p>The following table describes the XML elements in the lifecycle configuration:</p>
    <table style="mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">
            <p>Name</p>
          </th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">
            <p>Type</p>
          </th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">
            <p>Required</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>AbortIncompleteMultipartUpload</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Container for specifying when an incomplete multipart upload becomes eligible for an abort operation.</p>
            <p>When you specify this lifecycle action, the rule cannot specify a tag-based filter.</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Child:</b> DaysAfterInitiation</p>
            <p>
              <b>Ancestor:</b> Rule</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes, if no other action is specified for the rule.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>And</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Container for specifying rule filters. These filters determine the subset of objects to which the rule applies.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Rule</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes, if more than one filter condition is specified (for example, one prefix and one or more tags).</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Date</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Date when action should occur. The date value must conform to the ISO 8601 format.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Expiration or Transition</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes, if Days and ExpiredObjectDeleteMarker are absent.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Days</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Specifies the number of days after object creation when the specific rule action takes effect.</p>
            <p>
              <b>Type:</b> Nonnegative Integer when used with Transition. Positive Integer when used with Expiration.</p>
            <p>
              <b>Ancestor:</b> Expiration or Transition</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes, if Date and ExpiredObjectDeleteMarker are absent.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>DaysAfterInitiation</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Specifies the number of days after initiating a multipart upload when the multipart upload must be completed. If it does not complete by the specified number of days, it becomes eligible for an abort operation and Amazon S3 aborts the incomplete multipart upload.</p>
            <p>
              <b>Type:</b> Positive Integer</p>
            <p>
              <b>Ancestor:</b> AbortIncompleteMultipartUpload</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes, if ancestor is specified.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Expiration</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>This action specifies a period in an object’s lifetime when Amazon S3 should take the appropriate expiration action. Action taken depends on whether the bucket is versioning-enabled.</p>
            <p>If versioning has never been enabled on the bucket, the only copy of the object is deleted permanently.</p>
            <p>Otherwise, if your bucket is versioning-enabled or versioning-suspended, the action applies only to the current version of the object. A versioning-enabled bucket can have many versions of the same object, one current version, and zero or more noncurrent versions.</p>
            <p>Instead of deleting the current version, the current version becomes a noncurrent version and a delete marker is added as the new current version.</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Children:</b> Days or Date</p>
            <p>
              <b>Ancestor:</b> Rule</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes, if no other action is present in the Rule.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Filter</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Container for elements that describe the filter identifying a subset of objects to which the lifecycle rule applies. If you specify an empty filter, the rule applies to all objects in the bucket.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Children:</b> Prefix or Tag</p>
            <p>
              <b>Ancestor:</b> Rule</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>ID</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Unique identifier for the rule. The value cannot be longer than 255 characters.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Rule</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>No</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Key</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Specifies the key of a tag. A tag key can be up to 128 Unicode characters in length.</p>
            <p>Tag keys that you specify in a lifecycle rule filter must be unique.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Tag</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes, if Tag parent is specified.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>LifecycleConfiguration</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Container for lifecycle rules. You can add as many as 1,000 rules.</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Children:</b> Rule</p>
            <p>
              <b>Ancestor:</b> None</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>ExpiredObjectDeleteMarker</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>On a versioning-enabled or versioning-suspended bucket, you can add this element in the lifecycle configuration to delete expired object delete markers.</p>
            <p>On a nonversioned bucket, adding this element would do nothing because you cannot have delete markers.</p>
            <p>When you specify this lifecycle action, the rule cannot specify a tag-based filter.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Valid values:</b> true or false</p>
            <p>
              <b>Ancestor:</b> Expiration</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes, if Date and Days are absent.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>NoncurrentDays</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Specifies the number of days an object is noncurrent before performing the associated action. </p>
            <p>
              <b>Type:</b> Nonnegative Integer when used with NoncurrentVersionTransition, or Positive Integer when used with NoncurrentVersionExpiration.</p>
            <p>
              <b>Ancestor:</b> NoncurrentVersionExpiration or NoncurrentVersionTransition</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>NoncurrentVersionExpiration</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Specifies when noncurrent object versions expire. Upon expiration, the noncurrent object versions are permanently deleted.</p>
            <p>You set this lifecycle configuration action on a bucket that has versioning enabled (or suspended).</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Children:</b> NoncurrentDays</p>
            <p>
              <b>Ancestor:</b> Rule</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes, if no other action is present in the Rule.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>NoncurrentVersionTransition</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Container for the transition rule that describes when noncurrent objects transition to the STANDARD_IA or GLACIER storage class.</p>
            <p>You set this lifecycle configuration action on a bucket that has versioning enabled (or suspended).</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Children:</b> NoncurrentDays and StorageClass</p>
            <p>
              <b>Ancestor:</b> Rule</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes, if no other action is present in the Rule.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Prefix</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Object key prefix identifying one or more objects to which the rule applies. Empty prefix indicates there is no filter based on key prefix.</p>
            <p>There can be at most one Prefix in a lifecycle rule Filter.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Filter or And (if you specify multiple filters such as a prefix and one or more tags)</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>No</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Rule</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Container for a lifecycle rule. A lifecycle configuration can contain as many as 1,000 rules.</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Ancestor:</b> LifecycleConfiguration</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Status</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>If Enabled, the rule is executed when condition occurs.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Rule</p>
            <p>
              <b>Valid values:</b> Enabled or Disabled.</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>StorageClass</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Specifies the storage class to which you want the object to transition.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Transition and NoncurrentVersionTransition</p>
            <p>
              <b>Valid values:</b> STANDARD, STANDARD_IA, or GLACIER</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes</p>
            <p>This element is required only if you specify one or both its ancestors.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Tag</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Container for specifying a tag key and value. Each tag has a key and a value.</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Children:</b> Key and Value</p>
            <p>
              <b>Ancestor:</b> Filter or And (if you specify multiple filters such as a prefix and one or more tags)</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>No</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Transition</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>This action specifies a period in the objects’ lifetime when an object can transition to another storage class. </p>
            <p>If versioning has never been enabled on the bucket, the object will transition to the specified storage class.</p>
            <p>Otherwise, when your bucket is versioning-enabled or versioning-suspended, only the current version transitions to the specified storage class. Noncurrent versions are unaffected.</p>
            <p>
              <b>Type:</b> Container</p>
            <p>
              <b>Children:</b> Days or Date, and StorageClass</p>
            <p>
              <b>Ancestor:</b> Rule</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Yes, if no other action is present in the Rule.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>Value</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>Specifies the value for a tag key. Each object tag is a key-value pair.</p>
            <p>Tag value can be up to 256 Unicode characters in length.</p>
            <p>
              <b>Type:</b> String</p>
            <p>
              <b>Ancestor:</b> Tag</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Yes, if Tag parent is specified</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 MadCap:autonum="1.2.  ">Requests</h2>
    <h3 MadCap:autonum="1.2.1  ">Request Syntax</h3>
    <pre xml:space="preserve" style="page-break-inside: avoid;">PUT /?lifecycle HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Content-Length: {{length}}
Date: {{date}}
Authorization: {{authorizationString}}
Content-MD5: MD5</pre>
    <h3 MadCap:autonum="1.2.2  ">Request Parameters</h3>
    <p>The PUT Bucket Lifecycle operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.2.3  ">Request Headers </h3>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 64px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 909px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Name</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Required</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>Content MD-5</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>The base64-encoded 128-bit MD5 digest of the data; must be used as a message integrity check to verify that the request body was not corrupted in transit. For more information, go to RFC 1864.

</p>
            <p>
              <b>Type:</b> String
</p>
            <p>
              <b>Default:</b> None</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Yes</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 MadCap:autonum="1.2.4  ">Request Elements</h3>
    <p>The lifecycle configuration can be specified in the request body. The configuration is specified as XML consisting of one or more rules.</p>
    <p>```</p>
    <pre xml:space="preserve">&lt;LifecycleConfiguration&gt;
    &lt;Rule&gt;
    ...
    &lt;/Rule&gt;
    &lt;Rule&gt;
    ...
    &lt;/Rule&gt;
&lt;/LifecycleConfiguration&gt;</pre>
    <h2 MadCap:autonum="1.3.  ">Responses</h2>
    <h3 MadCap:autonum="1.3.1  ">Response Headers</h3>
    <p>Implementation of the PUT Bucket Lifecycle operation uses only response headers that are common to most responses (see <MadCap:xref href="../8_API Knowledge Primers/Response Headers.htm#Common">“Common Response Headers” on page 1</MadCap:xref>).</p>
    <h3 MadCap:autonum="1.3.2  ">Response Elements</h3>
    <p>The PUT Bucket Lifecycle operation does not return response elements.</p>
    <h3 MadCap:autonum="1.3.3  ">Special Errors</h3>
    <p>The PUT Bucket Lifecycle operation does not return special errors.</p>
    <h2 MadCap:autonum="1.4.  ">Examples</h2>
    <p>
      <b>Example 1</b>: Add lifecycle configuration—bucket versioning disabled</p>
    <p>The following lifecycle configuration specifies two rules, each with one action.</p>
    <ul>
      <li>The Transition action specifies objects with the “documents/” prefix to transition to the GLACIER storage class 30 days after creation.</li>
      <li>The Expiration action specifies objects with the “logs/” prefix to be deleted 365 days after creation.</li>
    </ul>
    <pre xml:space="preserve">&lt;LifecycleConfiguration&gt;
   &lt;Rule&gt;
       &lt;ID&gt;id1&lt;/ID&gt;
       &lt;Filter&gt;
        &lt;Prefix&gt;documents/&lt;/Prefix&gt;
       &lt;/Filter&gt;
       &lt;Status&gt;Enabled&lt;/Status&gt;
       &lt;Transition&gt;
           &lt;Days&gt;30&lt;/Days&gt;
           &lt;StorageClass&gt;GLACIER&lt;/StorageClass&gt;
       &lt;/Transition&gt;
    &lt;/Rule&gt;
    &lt;Rule&gt;
       &lt;ID&gt;id2&lt;/ID&gt;
       &lt;Filter&gt;
           &lt;Prefix&gt;logs/&lt;/Prefix&gt;
       &lt;/Filter&gt;
       &lt;Status&gt;Enabled&lt;/Status&gt;
       &lt;Expiration&gt;
           &lt;Days&gt;365&lt;/Days&gt;
       &lt;/Expiration&gt;
    &lt;/Rule&gt;
&lt;/LifecycleConfiguration&gt;</pre>
    <p>The following is a sample <code>PUT /?lifecycle</code> request that adds the preceding lifecycle configuration to the “examplebucket” bucket.</p>
    <pre xml:space="preserve">PUT /?lifecycle HTTP/1.1
Host: examplebucket.s3.amazonaws.com
x-amz-date: Wed, 14 May 2014 02:11:21 GMT
Content-MD5: q6yJDlIkcBaGGfb3QLY69A==
Authorization: <i>authorization string</i>
Content-Length: 415</pre>
    <pre xml:space="preserve">&lt;LifecycleConfiguration&gt;
    &lt;Rule&gt;
        &lt;ID&gt;id1&lt;/ID&gt;
        &lt;Filter&gt;
            &lt;Prefix&gt;documents/&lt;/Prefix&gt;
        &lt;/Filter&gt;
        &lt;Status&gt;Enabled&lt;/Status&gt;
        &lt;Transition&gt;
            &lt;Days&gt;30&lt;/Days&gt;
            &lt;StorageClass&gt;GLACIER&lt;/StorageClass&gt;
        &lt;/Transition&gt;
    &lt;/Rule&gt;
    &lt;Rule&gt;
        &lt;ID&gt;id2&lt;/ID&gt;
        &lt;Filter&gt;
            &lt;Prefix&gt;logs/&lt;/Prefix&gt;
        &lt;/Filter&gt;
        &lt;Status&gt;Enabled&lt;/Status&gt;
        &lt;Expiration&gt;
            &lt;Days&gt;365&lt;/Days&gt;
        &lt;/Expiration&gt;
    &lt;/Rule&gt;
&lt;/LifecycleConfiguration&gt;
</pre>
    <p>The following is a sample response.</p>
    <pre>HTTP/1.1 200 OK
x-amz-id-2: r+qR7+nhXtJDDIJ0JJYcd+1j5nM/rUFiiiZ/fNbDOsd3JUE8NWMLNHXmvPfwMpdc
x-amz-request-id: 9E26D08072A8EF9E
Date: Wed, 14 May 2014 02:11:22 GMT
Content-Length: 0
Server: AmazonS3
</pre>
    <p>
      <b>Example 2</b>: Add lifecycle configuration—bucket versioning is enabled.</p>
    <p>The following lifecycle configuration specifies two rules, each with one action to perform. You specify these actions when your bucket is versioning-enabled or versioning is suspended:</p>
    <ul>
      <li>The NoncurrentVersionExpiration action specifies non-current versions of objects with the “logs/” prefix to expire 100 days after the objects become non-current.</li>
      <li>The NoncurrentVersionTransition action specifies non-current versions of objects with the “documents/” prefix to transition to the GLACIER storage class 30 days after they become non-current.</li>
    </ul>
    <pre xml:space="preserve">&lt;LifeCycleConfiguration&gt;
    &lt;Rule&gt;
        &lt;ID&gt;DeleteAfterBecomingNonCurrent&lt;/ID&gt;
        &lt;Filter&gt;
            &lt;Prefix&gt;logs/&lt;/Prefix&gt;
        &lt;/Filter&gt;
        &lt;Status&gt;Enabled&lt;/Status&gt;
        &lt;NoncurrentVersionExpiration&gt;
            &lt;NoncurrentDays&gt;100&lt;/NoncurrentDays&gt;
        &lt;/NoncurrentVersionExpiration&gt;
    &lt;/Rule&gt;
    &lt;Rule&gt;
        &lt;ID&gt;TransitionAfterBecomingNonCurrent&lt;/ID&gt;
        &lt;Filter&gt;
            &lt;Prefix&gt;documents/&lt;/Prefix&gt;
        &lt;/Filter&gt;
        &lt;Status&gt;Enabled&lt;/Status&gt;
        &lt;NoncurrentVersionTransition&gt;
            &lt;NoncurrentDays&gt;30&lt;/NoncurrentDays&gt;
            &lt;StorageClass&gt;GLACIER&lt;/StorageClass&gt;
        &lt;/NoncurrentVersionTransition&gt;
    &lt;/Rule&gt;
&lt;/LifeCycleConfiguration&gt;
</pre>
    <p>The following is a sample PUT /?lifecycle request that adds the preceding lifecycle configuratoin to the `examplebucket` bucket.</p>
    <pre xml:space="preserve">PUT /?lifecycle HTTP/1.1
Host: examplebucket.s3.amazonaws.com
x-amz-date: Wed, 14 May 2014 02:21:48 GMT
Content-MD5: 96rxH9mDqVNKkaZDddgnw==
Authorization: authorization string
Content-Length: 598</pre>
    <pre xml:space="preserve">
&lt;LifeCycleConfiguration&gt;
    &lt;Rule&gt;
        &lt;ID&gt;DeleteAfterBecomingNonCurrent&lt;/ID&gt;
        &lt;Filter&gt;
            &lt;Prefix&gt;logs/&lt;/Prefix&gt;
        &lt;/Filter&gt;
        &lt;Status&gt;Enabled&lt;/Status&gt;
        &lt;NoncurrentVersionExpiration&gt;
            &lt;NoncurrentDays&gt;1&lt;/NoncurrentDays&gt;
        &lt;/NoncurrentVersionExpiration&gt;
    &lt;/Rule&gt;
    &lt;Rule&gt;
        &lt;ID&gt;TransitionSoonAfterBecomingNonCurrent&lt;/ID&gt;
        &lt;Filter&gt;
            &lt;Prefix&gt;documents/&lt;/Prefix&gt;
        &lt;/Filter&gt;
        &lt;Status&gt;Enabled&lt;/Status&gt;
        &lt;NoncurrentVersionTransition&gt;
            &lt;NoncurrentDays&gt;0&lt;/NoncurrentDays&gt;
            &lt;StorageClass&gt;GLACIER&lt;/StorageClass&gt;
        &lt;/NoncurrentVersionTransition&gt;
    &lt;/Rule&gt;
&lt;/LifeCycleConfiguration&gt;
</pre>
    <p>The following is a sample response:</p>
    <pre xml:space="preserve">HTTP/1.1 200 OK
x-amz-id-2: aXQ+KbIrmMmoO//3bMdDTw/CnjArwje+J49Hf+j44yRb/VmbIkgIO5A+PT98Cp/6k07hf+LD2mY=
x-amz-request-id: 02D7EC4C10381EB1
Date: Wed, 14 May 2014 02:21:50 GMT
Content-Length: 0
Server: AmazonS3
</pre>
  </body>
</html>