﻿<?xml version="1.0" encoding="utf-8"?>
<html MadCap:lastBlockDepth="6" MadCap:lastHeight="872.3333" MadCap:lastWidth="648" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
  <head>
    <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
  </head>
  <body>
    <h1 MadCap:autonum="1.  ">PUT Bucket Versioning</h1>
    <p style="text-align: left;">The PUT Bucket Versioning operation uses the versioning subresource to set the versioning state of an existing bucket. To set the versioning state, you must be the bucket owner. </p>
    <p>You can set the versioning state with one of the following values:</p>
    <ul>
      <li>
        <b>Enabled</b> — Enables versioning for the objects in the bucket. All objects added to the bucket receive a unique version ID.</li>
      <li>
        <b>Suspended</b> — Disables versioning for the objects in the bucket. All objects added to the bucket receive the version ID null.</li>
    </ul>
    <p>If the versioning state has never been set on a bucket, it has no versioning state; a GET versioning request does not return a versioning state value.</p>
    <p class="BoxNote" MadCap:conditions="PrintGuides.Future" style="text-align: left;">If you have an object expiration lifecycle policy in your non-versioned bucket and you want to maintain the same permanent delete behavior when you enable versioning, you must add a noncurrent expiration policy. The noncurrent expiration lifecycle policy will manage the deletes of the noncurrent object versions in the version-enabled bucket. (A version-enabled bucket maintains one current and zero or more noncurrent object versions.) For more information, see <a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/object-lifecycle-mgmt.html#lifecycle-and-other-bucket-config">Lifecycle and Versioning</a> in the <i>Amazon Simple Storage Service Developer Guide</i>. </p>
    <h2 MadCap:autonum="1.1.  ">Requests</h2>
    <h3 MadCap:autonum="1.1.1  ">Request Syntax</h3>
    <pre xml:space="preserve" style="page-break-inside: avoid;">PUT / HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Content-Length: {{length}}
Date: {{date}}
Authorization: {{authenticationInformation}}

&lt;VersioningConfiguration xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
&lt;Status&gt;{{VersioningState}}&gt;/Status&gt;
&lt;/VersioningConfiguration&gt;</pre>
    <p>The request syntax illustrates only a portion of the request headers. </p>
    <h3 MadCap:autonum="1.1.2  ">Request Parameters</h3>
    <p style="text-align: left;">The PUT Bucket Versioning operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.1.3  ">Request Headers</h3>
    <p style="text-align: left;">Implementation of the PUT Bucket Versioning operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Request Headers.htm#Common">“Common Request Headers” on page 1</MadCap:xref>). </p>
    <h3 MadCap:autonum="1.1.4  ">Request Elements</h3>
    <p style="text-align: left;">The PUT Bucket operation can request the following items: </p>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 120px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 80px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Status</td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>enum</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Sets the versioning state of the bucket.</p>
            <p>Valid Values: Suspended | Enabled</p>
            <p>Ancestor: VersioningConfiguration</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>VersioningConfiguration</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>container</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Container for setting the versioning state.</p>
            <p>Children: Status</p>
            <p>Ancestor: none</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 MadCap:autonum="1.2.  ">Responses</h2>
    <h3 MadCap:autonum="1.2.1  ">Response Headers</h3>
    <p style="text-align: left;">Implementation of the PUT Bucket Versioning operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Response Headers.htm">“Response Headers” on page 1</MadCap:xref>).</p>
    <h3 MadCap:autonum="1.2.2  ">Response Elements</h3>
    <p style="text-align: left;">The PUT Bucket Versioning operation does not return response elements.</p>
    <h2 MadCap:autonum="1.3.  ">Examples</h2>
    <h3 MadCap:autonum="1.3.1  ">Enabling Versioning for a Specified Bucket</h3>
    <h4>Request Sample</h4>
    <pre xml:space="preserve">PUT /?versioning HTTP/1.1
Host: bucket.s3.scality.com
Date: Wed, 01 Mar  2006 12:00:00 GMT
Authorization: {{authorization string}}
Content-Type: text/plain
Content-Length: 124
 
&lt;VersioningConfiguration xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
&lt;Status&gt;Enabled&lt;/Status&gt;
&lt;/VersioningConfiguration&gt;</pre>
    <h4>Response Sample</h4>
    <pre xml:space="preserve" style="page-break-inside: avoid;">HTTP/1.1 200 OK
x-amz-id-2: YgIPIfBiKa2bj0KMg95r/0zo3emzU4dzsD4rcKCHQUAdQkf3ShJTOOpXUueF6QKo
x-amz-request-id: 236A8905248E5A01
Date: Wed, 01 Mar  2006 12:00:00 GMT</pre>
    <h3 MadCap:autonum="1.3.2  ">Suspending Versioning for a Specified Bucket</h3>
    <div>
      <h4>Request Sample</h4>
      <pre xml:space="preserve">PUT /?versioning HTTP/1.1
Host: bucket.s3.scality.com
Date: Wed, 12 Oct 2009 17:50:00 GMT
Authorization: {{authorization string}}
Content-Type: text/plain
Content-Length: 124
 
&lt;VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"&gt;
&lt;Status&gt;Suspended&lt;/Status&gt;
&lt;/VersioningConfiguration&gt;</pre>
    </div>
    <div>
      <h4>Response Sample</h4>
      <pre xml:space="preserve" style="page-break-inside: avoid;">HTTP/1.1 200 OK
x-amz-id-2: YgIPIfBiKa2bj0KMg95r/0zo3emzU4dzsD4rcKCHQUAdQkf3ShJTOOpXUueF6QKo
x-amz-request-id: 236A8905248E5A01
Date: Wed, 01 Mar  2006 12:00:00 GMT</pre>
    </div>
  </body>
</html>