<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Authentication Methods</h1>
        <p style="text-align: left;"><MadCap:variable name="General.ProductName"></MadCap:variable> authentication is achieved with <MadCap:variable name="General.ProductName"></MadCap:variable> via one of four methods:</p>
        <ul>
            <li>V2 Authentication—Authorization Header (based on AWS Signature Version 2)</li>
            <li>V2 Authentication—Query Parameters (based on AWS Signature Version 2)</li>
            <li>V4 Authentication—Authorization Header (based on AWS Signature Version 4)</li>
            <li>V4 Authentication—Query Parameters (based on AWS Signature Version 4)</li>
        </ul>
        <h2 MadCap:autonum="1.1. &#160;">Authorization Header</h2>
        <p style="text-align: left;">Using the HTTP Authorization header is the most common method of authenticating an <MadCap:variable name="General.ProductName"></MadCap:variable> request, and in fact all of the <MadCap:variable name="General.ProductName"></MadCap:variable> bucket and object operations to provide authentication information.</p>
        <p style="text-align: left;">The <MadCap:variable name="General.ProductName" /> API uses the standard HTTP Authorization header to pass authentication information.  (The name of the standard header is unfortunate because it carries authentication information, not authorization.) Under the <MadCap:variable name="General.ProductName" /> authentication scheme, the Authorization header has the following form:</p><pre>Authorization: AWS {{AccessKeyId}}:{{Signature}}</pre>
        <p style="text-align: left;">An access key ID and secret access key can be issued for accounts or IAM users. The recommended approach is to issue keys for IAM users and not for accounts, and to grant users the permissions needed to access only those resources they require.</p>
        <p style="text-align: left;">As stated previously, the <span class="ElementName">Signature</span> part of the Authorization header varies from request to request. If the request signature calculated by the system matches the <span class="ElementName">Signature</span> included with the request, the requester has demonstrated possession of the secret access key. The request is then processed under the identity, and with the authority, of the developer to whom the key was issued.</p>
        <h3 MadCap:autonum="1.1.1 &#160;">checkauth</h3>
        <p style="text-align: left;">If there is an Authorization header on the request object, the <code>checkAuth</code> operation determines whether V2 Authentication—Authorization Header  or V4 Authentication—Authorization Header is applicable by parsing the header string. If there is no <span class="ElementName">Authorization</span> header on the request object, <code>checkAuth</code> determines whether V2 Authentication—Query Parameters or V4 Authentication—Query Parameters is applicable by checking which query parameters are included on the request object.</p>
        <h4>Sequence: V2 Authentication—Authorization Header </h4>
        <p style="text-align: left;">V2 Authentication—Headers adheres to a strict step sequence in performing authentication.</p>
        <ol>
            <li>Ensures the request is not more than 15 minutes old, returning an error in the event the time restriction is exceeded.</li>
            <li>Obtains the accessKey and signature by parsing the string value of the Authorization header on the request object.</li>
            <li>Builds the StringToSign.<pre>HTTP-Verb + "\n" +
Content-MD5 + "\n" +
Content-Type + "\n" +
Date (or Expiration for query Auth) + "\n" +
CanonicalizedAmzHeaders +
CanonicalizedResource;</pre></li>
            <li>Performs UTF-8 encoding of the StringToSign.</li>
            <li>Sends information to Vault:<ul><li>User-provided signature</li><li>Encoded <code>StringToSign</code></li><li>User <code>accessKey</code></li></ul></li>
            <li>Vault processes the information provided and returns a value either <span class="ProperNameBold">true</span> (authentication confirmed, request moves forward) or false (request rejected).<ol style="list-style-type: lower-alpha;"><li>Vault pulls the secretKey for the user based on the accessKey.</li><li>Vault creates a digest, using an encryption algorithm (either HMAC-SHA1 or HMAC-SHA256, depending on the length of the signature in the request) with the secretKey and the utf8-encoded StringToSign as inputs.</li><li>Vault Base64 encodes the digest, which results in the reconstructed signature.</li><li>Vault compares the reconstructed signature with the signature provided by the request to confirm authentication.</li></ol></li>
        </ol>
        <h4>Sequence: V2 Authentication—Query Parameters</h4>
        <p style="text-align: left;">V2 Authentication—Query Parameters adheres to a strict step sequence in performing authentication.</p>
        <ol>
            <li>Ensures the request is not expired by checking the <span class="ElementName">Expires</span> query parameter.</li>
            <li>Obtains the <code>accessKey</code> from the <span class="ElementName">AWSAccessKeyID</span> query parameter.</li>
            <li>Obtains the signature from the <span class="ElementName">Signature</span> query parameter.</li>
            <li>Builds the <code>StringToSign</code>.<pre>HTTP-Verb + "\n" +
Content-MD5 + "\n" +
Content-Type + "\n" +
Date (or Expiration for query Auth) + "\n" +
CanonicalizedAmzHeaders +
CanonicalizedResource;</pre></li>
            <li>Performs UTF-8 encoding of the <code>StringToSign</code>.</li>
            <li>Sends information to Vault:<ul><li>User-provided signature</li><li>Encoded <code>StringToSign</code></li><li>User <code>accessKey</code></li></ul></li>
            <li>Vault processes the information provided and returns either a value either <code>true</code> (authentication confirmed, request moves forward) or <code>false</code> (request rejected).<ol style="list-style-type: lower-alpha;"><li>Vault pulls the <code>secretKey</code> for the user based on the <code>accessKey</code>.</li><li>Vault creates a digest, using an encryption algorithm (either HMAC-SHA1 or HMAC-SHA256, depending on the length of the signature in the request) with the <code>secretKey</code> and the utf8-encoded <code>StringToSign</code> as inputs.</li><li>Vault Base64 encodes the digest, which results in the reconstructed signature.</li><li>Vault compares the reconstructed signature with the signature provided by the request to confirm authentication.</li></ol></li>
        </ol>
        <h4>Sequence: V4 Authentication—Authorization Header </h4>
        <p style="text-align: left;">V4 Authentication-Headers adheres to a strict step sequence in performing authentication.</p>
        <ol>
            <li>Ensures the request timestamp matches the request date value of the Authorization header, returning an error in the event of a mismatch.</li>
            <li>Obtains the following values from the Authorization header: <code>scopeDate</code>, <code>LocationConstraint</code>, <code>accessKey</code> and <code>credentialScope</code>.</li>
            <li>Checks that <code>scopeDate</code> falls within the previous seven days.</li>
            <li>Calculates the utf8-encoded <code>stringToSign</code>.<div><pre>"AWS4-HMAC-SHA256" + "\n" +
timeStampISO8601Format + "\n" +
&lt;Scope&gt; + "\n" +
Hex(SHA256Hash(&lt;CanonicalRequest&gt;))</pre><p>Where CanonicalRequest is:</p><pre>&lt;HTTPMethod&gt;\n
&lt;CanonicalURI&gt;\n
&lt;CanonicalQueryString&gt;\n
&lt;CanonicalHeaders&gt;\n
&lt;SignedHeaders&gt;\n
&lt;HashedPayload&gt;</pre></div></li>
            <li>Sends information to Vault:<ul><li><code>accessKey</code></li><li><code>signatureFromRequest</code></li><li><span class="ElementName">LocationConstraint</span></li><li><code>scopeDate</code></li><li><code>stringToSign</code></li></ul></li>
            <li>
                <p>Vault processes the information provided and in the event of authentication returns <code>accessKey</code> owner information (account canonicalID, account/user arn, associated email, etc.).</p>
                <ol style="list-style-type: lower-alpha;">
                    <li>
                        <p>Vault pulls the <code>secretKey</code> associated to the <code>accessKey</code> value received from S3.</p>
                    </li>
                    <li>
                        <p>Vault calculates the <code>signingKey</code> from the <code>secretKey</code> and the values received from S3:</p>
                        <ul>
                            <li>
                                <p><code>dateKey</code> = HMAC-SHA256 ("AWS4" + "{{SecretAccessKey}}", "{{YYYYMMDD}}")</p>
                            </li>
                            <li>
                                <p><code>dateRegionKey</code> = HMAC-SHA256(dateKey, "{{aws-region}}")</p>
                            </li>
                            <li>
                                <p><code>dateRegionServiceKey</code> = HMAC-SHA256 (dateRegionKey, "{{awsservice}}")</p>
                            </li>
                            <li>
                                <p><code>signingKey</code> = HMAC-SHA256 (dateRegionServiceKey, "aws4_request")</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Vault computes its own version of the signature from <code>stringToSign</code> and <code>signingKey</code> as HMAC-SHA256 (<code>signingKey</code>, <code>stringToSign</code>)</p>
                    </li>
                    <li>
                        <p>Vault compares the reconstructed signature with the signature provided by the request to confirm authentication.</p>
                    </li>
                </ol>
            </li>
        </ol>
        <h4>Sequence: V4 Authentication—Query Parameters</h4>
        <p style="text-align: left;">V4 Authentication using query parameters is similar to V4 authentication using authorization header, with the difference being that certain values—<code>scopeDate</code>, <code>region</code>, <code>accessKey</code>, and <code>credentialScope</code>—are obtained from the query string.</p>
        <h2 MadCap:autonum="1.2. &#160;">Query Parameters</h2>
        <p style="text-align: left;">Along with the <span class="ElementName">Authorization</span> request header, authentication information can also be provided via query string parameters. This method is useful for expressing requests entirely in a URL (referred to as presigning a URL). A use case scenario for this is when it is necessary to grant temporary access (e.g., a presigned URL can be embedded on a website or alternatively used in a command line client to download objects).</p>
    </body>
</html>