<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="869.0001" MadCap:lastWidth="648">
  <head>
    <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
  </head>
  <body>
    <h1 MadCap:autonum="1.  ">vaultclient CLI Commands</h1>
    <p style="text-align: left;">Use the vaultclient command line interface to enter commands for managing <MadCap:variable name="General.ProductName" /> accounts. Once an account is created, use standard AWS IAM commands to manage account users, groups, and policies.</p>
    <h2 MadCap:autonum="1.1.  ">General vaultclient Command Line Options</h2>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: auto;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 180px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: auto;" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Option</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Argument</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <pre>--cafile</pre>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">&lt;certificate-authority-path&gt;</td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Specifies the path to the certificate authority file (recommended for self-signed certificates); in the cas of self-signed certificates, this option will be required unless the user specifies <code>--noCaVerification</code></p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <pre>--https</pre>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">—</td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Enables HTTPS protocol for vaultclient commands</td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <pre>--noCaVerification</pre>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">—</td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Disables SSL certificate validation</td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <pre>--host</pre>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>&lt;hostname&gt;</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Specifies the Vault host for vaultclient; configuration necessary in the event the endpoint is not localhost:8600.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>
              <pre>--port</pre>
            </p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>&lt;port&gt;</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Specifies the Vault port for vaultclient; configuration necessary in the event if the endpoint is not localhost:8600.</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 MadCap:autonum="1.2.  ">Create Account</h2>
    <h3 MadCap:autonum="1.2.1  ">Request Syntax</h3>
    <pre>./bin/vaultclient create-account --name &lt;account name&gt; --email &lt;email address&gt;</pre>
    <h3 MadCap:autonum="1.2.2  ">Response</h3>
    <p style="text-align: left;">The response to a vaultclient <code>create-account</code> request is a JSON object corresponding to the following schema:</p>
    <pre xml:space="preserve">{
  "account": {
    "arn": "{{accountarn}}",
    "canonicalId": "{{accountCanonicalIdentifier}}",
    "id": "{{accountIdentifier}}",
    "emailAddress": "email address",
    "name": "{{accountName}}",
    "createDate": "{{accountCreationDate}}"
  }
}</pre>
    <h3 MadCap:autonum="1.2.3  ">Examples</h3>
    <h4> Create Account Request</h4>
    <pre>./bin/vaultclient create-account --name test2 --email test2@test.com</pre>
    <h4>Create Account Response</h4>
    <pre xml:space="preserve">{
  "account": {
    "arn": "arn:aws:iam::142968920705:/test2/",
    "canonicalId":"8Q1Q39K42GG4BV3FLXY3X8BLSB4C3ACAOJBFV9TARAHWA4QDHXMEXFZKZEPG0N58",
    "id": "142968920705",
    "emailAddress": "test2@test.com",
    "name": "test2",
    "createDate": "2016-08-11T17:05:57Z",
  }
}</pre>
    <h2 MadCap:autonum="1.3.  ">Delete Account</h2>
    <h3 MadCap:autonum="1.3.1  ">Request Syntax</h3>
    <pre>./bin/vaultclient delete-account --name {{accountName}}</pre>
    <h3 MadCap:autonum="1.3.2  ">Response</h3>
    <p>A successful response returns an empty JSON object.</p>
    <pre>{}</pre>
    <h2 MadCap:autonum="1.4.  ">
      <a name="GenerateAccountAccessKey"></a>Generate Account Access Key</h2>
    <h3 MadCap:autonum="1.4.1  ">Request Syntax</h3>
    <pre>./bin/vaultclient generate-account-access-key --name {{accountName}}</pre>
    <h3 MadCap:autonum="1.4.2  ">Response</h3>
    <p style="text-align: left;">The response to a vaultclient <code>generate-account-access-key</code> request is a JSON object corresponding to the following schema:</p>
    <pre>{
  "arn": "{{accountarn}}",
  "id": "{{accessKey}}",
  "value": "{{secretKey}}",
  "createDate": "{{keyCreationDate}}",
  "lastUsedDate": "{{lastUsedDateForAccessKey}}",
  "status": "{{accessKeyStatus}}",
  "userId": "{{accountUserID}}"
}</pre>
    <h3 MadCap:autonum="1.4.3  ">Examples</h3>
    <h4> Generate Account Access Key Request</h4>
    <pre>./bin/vaultclient generate-account-access-key --name test2</pre>
    <h4>Generate Account Access Key Response</h4>
    <pre>{
  "arn": "arn:aws:iam::142968920705:/CLE4SBNWDFT7AM5NQVUE/",
  "id": "CLE4SBNWDFT7AM5NQVUE",
  "value": "Csya=mVOO+JCnTIK1UTy+vaKFXclXWtyLWrsXV9E",
  "createDate": "2016-08-11T17:06:12Z",
  "lastUsedDate": "2016-08-11T17:06:12Z",
  "status": "Active",
  "userId": "142968920705"
}</pre>
    <h2 MadCap:autonum="1.5.  ">List Accounts</h2>
    <h3 MadCap:autonum="1.5.1  ">Request Syntax</h3>
    <div>
      <pre>./bin/vaultclient list-accounts [--maxItems &lt;maximum number of accounts returned&gt;] [--marker &lt;marker for next pagination&gt;]</pre>
    </div>
    <h3 MadCap:autonum="1.5.2  ">Response</h3>
    <p style="text-align: left;">The response to a vaultclient <code>list-accounts</code> request is a JSON object corresponding to the following schema:</p>
    <div>
      <pre>{
  "isTruncated": {{true_or_false}},
  "marker": "[marker for next pagination, included if isTruncated is true]",
  "accounts": [
    {
      "arn": "{{accountarn}}",
      "id": "{{accountIdentifier}}",
      "name": "{{accountName}}",
      "createDate": "{{accountCreationDate}}",
      "emailAddress": "{{emailAddress}}",
      "canonicalId": "{{accountCanonicalIdentifier}}"
    },
    {
      ... //arn, id, name, createDate, emailAddress, cannonicalId
    }
  }
}</pre>
    </div>
    <h3 MadCap:autonum="1.5.3  ">Examples</h3>
    <h4> List Accounts Request</h4>
    <pre>./bin/vaultclient list-accounts --maxItems 30</pre>
    <h4>List Accounts Response</h4>
    <pre xml:space="preserve">{"isTruncated": false,
"accounts": [
    {
      "arn": "arn:aws:iam::341220772100:/john/", 
      "id": "341220772100",
      "name": "john",
      "createDate": "2016-07-02T21:47:53Z",
      "emailAddress": "john@acme.com",
      "canonicalId": "UO62HEUU76W5LYMG41SO3MQZQQN21YGQ1ZSF25B47GNUCC5F1"
    },
    {
      "arn": "arn:aws:iam::148910879031:/jane/",
      "id": "148910879031",
      "name": "jane",
      "createDate": "2016-07-02T21:59:27Z",
      "emailAddress": "jane@acme.com",
      "canonicalId": "ZTMP1J67M0VYI8T1DFB0S60ELIOSWC6VD1W1BQC24JF2VJEPQ"
    },
    {
      "arn": "arn:aws:iam::433602879118:/lisa/",
      "id": "433602879118",
      "name": "lisa",
      "createDate": "2016-07-02T21:59:32Z",
      "emailAddress": "lisa@acme.com",
      "canonicalId": "E81ZJFT0DP5KSUL5ZE8EUT4VYE8EZQAKUGS0VTF1QDD7PGXF0"
    }
  ]
}</pre>
  </body>
</html>