<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="845.6666" MadCap:lastWidth="650">
  <head>
    <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
  </head>
  <body>
    <h1 MadCap:autonum="1.  ">Complete Multipart Upload</h1>
    <p style="text-align: left;">The Complete Multipart Upload operation is the last step in the multipart upload of a large object, pulling together previously uploaded parts, called only after a multipart upload is initiated and all of the relevant parts have been uploaded (refer to <MadCap:xref href="Upload Part.htm">"Upload Part" on page 1</MadCap:xref>).  Upon receiving the Complete Multipart Upload request, <MadCap:variable name="General.ProductName" /> concatenates all the parts in ascending order by part number to create a new object.</p>
    <p style="text-align: left;"> The parts list must be provided for a Complete Multipart Upload request. Care must be taken to ensure that the list is complete, and that the part number and ETag header value are provided for each part (both of which were returned with the successful uploading of the part). </p>
    <p style="text-align: left;">Processing of a Complete Multipart Upload request can take several minutes to complete. Once <MadCap:variable name="General.ProductName" /> begins processing the request, it sends an HTTP response header that specifies a <code>200 OK</code> response. While processing is in progress, <MadCap:variable name="General.ProductName" /> periodically sends whitespace characters to keep the connection from timing out. Because a request could fail after the initial response has been sent, it is important to check the response body to determine whether the request succeeded.</p>
    <h2 MadCap:autonum="1.1.  ">Requests</h2>
    <div>
      <h3 MadCap:autonum="1.1.1  ">Request Syntax</h3>
      <p style="text-align: left;">An upload ID must be included in the URL query string supplied with the POST request for the Complete Multipart Upload operation:</p>
      <pre>POST /{{ObjectName}}?uploadId={{UploadId}} HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Content-Length: {{Size}}
Authorization: {{authorizationString}}</pre>
      <pre>&lt;CompleteMultipartUpload&gt;
&lt;Part&gt;
&lt;PartNumber&gt;{{PartNumber}}&lt;/PartNumber&gt;
&lt;ETag&gt;{{ETag}}&lt;/ETag&gt;
&lt;/Part&gt;
...
&lt;/CompleteMultipartUpload&gt;</pre>
    </div>
    <h3 MadCap:autonum="1.1.2  ">Request Parameters</h3>
    <p style="text-align: left;">The Complete Multipart Upload operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.1.3  ">Request Headers</h3>
    <p style="text-align: left;">Implementation of the Upload Part operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Request Headers.htm#Common">"Common Request Headers" on page 1</MadCap:xref>). </p>
    <h3 MadCap:autonum="1.1.4  ">Request Elements</h3>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 120px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 80px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>CompleteMultipartUpload</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>container</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Container for the request</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Part</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>container</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Container for elements related to a particular previously uploaded part</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>PartNumber</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>integer</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Part number that identifies the part</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>ETag</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Entity tag returned when the part was uploaded</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 MadCap:autonum="1.2.  ">Responses</h2>
    <h3 MadCap:autonum="1.2.1  ">Response Headers</h3>
    <p style="text-align: left;">Implementation of the Complete Multipart Upload operation can include the following response header in addition to the response headers common to all responses (refer to <MadCap:xref href="../8_API Knowledge Primers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1" MadCap:conditions="">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1" MadCap:conditions="">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>x-amz-version-id</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Returns the version ID of the retrieved object if it has a unique version ID</p>
            <p>Default: None</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 MadCap:autonum="1.2.2  ">Response Elements</h3>
    <p style="text-align: left;"> The Complete Multipart Upload operation can return the following XML elements of the response (includes XML containers): </p>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 120px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>CompleteMultipartUploadResult</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>container</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Container for the response</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Location</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>URI</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>The URI that identifies the newly created object</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Bucket</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>The name of the bucket that contains the newly created object</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Key</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>The object key of the newly created object</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>ETag</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Entity tag that identifies the newly created object’s data. Objects with different object data will have different entity tags. The entity tag is an opaque string. The entity tag may or may not be an MD5 digest of the object data. If the entity tag is not an MD5 digest of the object data, it will contain one or more nonhexadecimal characters and/or will consist of less than 32 or more than 32 hexadecimal digits.</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 MadCap:autonum="1.2.3  ">Special Errors</h3>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Error</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">EntityTooSmall (HTTP 400 Bad Request status code)</td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Occurs when an a proposed upload is smaller than the minimum allowed object size. Each part must be at least 5MB in size, except the last part.	</td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">invalidPart (HTTP 400 Bad Request status code)</td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">One or more of the specified parts could not be found</td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">invalidPartOrder (HTTP 400 Bad Request status code)</td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">The parts were not listed in ascending order</td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">NoSuchUpload error (HTTP 404 Not Found status code)</td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">Occurs when an invalid upload ID is provided in the Upload Part request, or when a multipart upload has already been either completed or aborted.</td>
        </tr>
      </tbody>
    </table>
    <h2 MadCap:autonum="1.3.  ">Examples</h2>
    <h3 MadCap:autonum="1.3.1  ">Request Specifying Three Parts in the Operation Element</h3>
    <div>
      <h4>Request Sample</h4>
      <pre>POST /example-object?uploadId=AAAsb2FkIElEIGZvciBlbHZpbmcncyWeeS1tb3ZpZS5tMnRzIRRwbG9hZA HTTP/1.1
Host: Example-Bucket.{{StorageService}}.com
Date:  Mon, 1 Nov 2010 20:34:56 GMT
Content-Length: 391
Authorization: {{authorizationString}}</pre>
      <pre>&lt;CompleteMultipartUpload&gt;
&lt;Part&gt;
&lt;PartNumber&gt;1&lt;/PartNumber&gt;
&lt;ETag&gt;"a54357aff0632cce46d942af68356b38"&lt;/ETag&gt;
&lt;/Part&gt;
&lt;Part&gt;
&lt;PartNumber&gt;2&lt;/PartNumber&gt;
&lt;ETag&gt;"0c78aef83f66abc1fa1e8477f296d394"&lt;/ETag&gt;
&lt;/Part&gt;
&lt;Part&gt;
&lt;PartNumber&gt;3&lt;/PartNumber&gt;
&lt;ETag&gt;"acbd18db4cc2f85cedef654fccc4a4d8"&lt;/ETag&gt;
&lt;/Part&gt;
&lt;/CompleteMultipartUpload&gt;</pre>
    </div>
    <div>
      <h4>Response Sample Indicating Successful Object Assembly</h4>
      <pre>HTTP/1.1 200 OK
x-amz-id-2: Uuag1LuByRx9e6j5Onimru9pO4ZVKnJ2Qz7/C1NPcfTWAtRPfTaOFg==
x-amz-request-id: 656c76696e6727732072657175657374
Date: Mon, 1 Nov 2010 20:34:56 GMT
Connection: close
Server: ScalityS3</pre>
      <pre>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;CompleteMultipartUploadResult xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
&lt;Location&gt;http://Example-Bucket.s3.scality.com/Example-Object&lt;/Location&gt;
&lt;Bucket&gt;Example-Bucket&lt;/Bucket&gt;
&lt;Key&gt;Example-Object&lt;/Key&gt;
&lt;ETag&gt;"3858f62230ac3c915f300c664312c11f-9"&lt;/ETag&gt;
&lt;/CompleteMultipartUploadResult&gt;</pre>
    </div>
    <div>
      <h4>Response Sample with Error Specified in Header</h4>
      <p style="text-align: left;">The response sample indicates that an error occurred before the HTTP response header was sent.</p>
      <pre>HTTP/1.1 403 Forbidden
x-amz-id-2: Uuag1LuByRx9e6j5Onimru9pO4ZVKnJ2Qz7/C1NPcfTWAtRPfTaOFg==
x-amz-request-id: 656c76696e6727732072657175657374
Date:  Mon, 1 Nov 2010 20:34:56 GMT
Content-Length: 237
Connection: keep-alive
Server: ScalityS3</pre>
      <pre>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;Error&gt;
&lt;Code&gt;AccessDenied&lt;/Code&gt;
&lt;Message&gt;Access Denied&lt;/Message&gt;
&lt;RequestId&gt;656c76696e6727732072657175657374&lt;/RequestId&gt;
&lt;HostId&gt;Uuag1LuByRx9e6j5Onimru9pO4ZVKnJ2Qz7/C1NPcfTWAtRPfTaOFg==&lt;/HostId&gt;
&lt;/Error&gt;</pre>
    </div>
    <div>
      <h4>Response Sample with Error Specified in Body</h4>
      <p style="text-align: left;">The response sample indicates that an error occurred after the HTTP response header was sent. </p>
      <p class="BoxNote">Although the HTTP status code is <code>200 OK</code>, the request actually failed as described in the <span class="ElementName">Error</span> element.</p>
      <pre>HTTP/1.1 200 OK
x-amz-id-2: Uuag1LuByRx9e6j5Onimru9pO4ZVKnJ2Qz7/C1NPcfTWAtRPfTaOFg==
x-amz-request-id: 656c76696e6727732072657175657374
Date:  Mon, 1 Nov 2010 20:34:56 GMT
Connection: close
Server: {{ScalityS3}</pre>
      <pre>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;Error&gt;
&lt;Code&gt;InternalError&lt;/Code&gt;
&lt;Message&gt;We encountered an internal error. Please try again.&lt;/Message&gt;
&lt;RequestId&gt;656c76696e6727732072657175657374&lt;/RequestId&gt;
&lt;HostId&gt;Uuag1LuByRx9e6j5Onimru9pO4ZVKnJ2Qz7/C1NPcfTWAtRPfTaOFg==&lt;/HostId&gt;
&lt;/Error&gt;</pre>
    </div>
  </body>
</html>