﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="878.3333" MadCap:lastWidth="648">
  <head></head>
  <body>
    <h1 MadCap:autonum="1.  ">DELETE Object Tagging</h1>
    <p style="text-align: left;">This implementation of the DELETE operation uses the tagging subresource to remove the entire tag set from the specified object. For more information about managing object tags, refer to <a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/object-tagging.html">Object Tagging</a> in the <cite>Amazon Simple Storage Service Developer Guide</cite>. </p>
    <p style="text-align: left;">To use the DELETE Object Tagging operation, the user must have permission to perform the <code>s3:DeleteObjectTagging</code> action.</p>
    <p style="text-align: left;">To delete tags of a specific object version, add the <code>versionId</code> query parameter in the request (permission  for the <code>s3:DeleteObjectVersionTagging</code> action is required).</p>
    <h2 MadCap:autonum="1.1.  ">Requests</h2>
    <h3 MadCap:autonum="1.1.1  ">Request Syntax</h3>
    <pre xml:space="preserve">DELETE /ObjectKey/ ?tagging HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Content-Length: {{length}}
Authorization: {{authenticationInformation}}</pre>
    <h3 MadCap:autonum="1.1.2  ">Request Parameters</h3>
    <p style="text-align: left;">The DELETE Object Tagging operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.1.3  ">Request Headers</h3>
    <p style="text-align: left;">Implementation of the DELETE Object Tagging operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Request Headers.htm#Common">"Common Request Headers" on page 1</MadCap:xref>). </p>
    <h3 MadCap:autonum="1.1.4  ">Request Elements</h3>
    <p style="text-align: left;">The DELETE Object Tagging operation does not use request elements.</p>
    <h2 MadCap:autonum="1.2.  ">Responses </h2>
    <h3 MadCap:autonum="1.2.1  ">Response Headers</h3>
    <p style="text-align: left;">Implementation of the DELETE Object Tagging operation uses onlyresponse headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
    <h3 MadCap:autonum="1.2.2  ">Response Elements</h3>
    <p style="text-align: left;">The DELETE Object Tagging operation does not return response elements.</p>
    <h2 MadCap:autonum="1.3.  ">Examples</h2>
    <h4>Request Sample</h4>
    <pre xml:space="preserve">DELETE exampleobject/?tagging HTTP/1.1
Host: {{bucketname}}.s3.scality.com
Date: Wed, 12 Oct 2016 17:50:00 GMT
Authorization: {{authorizationString}}</pre>
    <h4>Response Sample</h4>
    <p>The following successful response shows Amazon S3 returning a 204 No Content response. The tag set for the object has been removed. </p>
    <pre xml:space="preserve">HTTP/1.1 204 No Content
Date: Wed, 25 Nov 2016 12:00:00 GMT
Connection: close
Server: ScalityS3</pre>
  </body>
</html>