﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="829.6667" MadCap:lastWidth="648">
  <head>
    <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
  </head>
  <body>
    <h1 MadCap:autonum="1.  ">PUT Object Tagging</h1>
    <p style="text-align: left;">The Put Object Tagging operation uses the <code>tagging</code> subresource to add a set of tags to an existing object.</p>
    <p style="text-align: left;">A tag is a key/value pair. You can associate tags with an object by sending a PUT request against the <code>tagging</code> subresource associated with the object. To retrieve tags, send a GET request. For more information, refer to <MadCap:xref href="GET Object Tagging.htm">"GET Object Tagging" on page 1</MadCap:xref>.</p>
    <p style="text-align: left;">For tagging related restrictions related to characters and encodings, refer to <a href="http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/allocation-tag-restrictions.html">Tag Restrictions</a> in the <cite>AWS Billing and Cost Management User Guide</cite>. Note that S3 limits the maximum number of tags to 10 tags per object.</p>
    <p style="text-align: left;">To use this operation, you must have permission to perform the <span class="ElementName">s3:PutObjectTagging</span> action. By default, the bucket owner has this permission and can grant this permission to others.</p>
    <p style="text-align: left;">To put tags of any other version, use the <span class="ElementName">versionId</span> query parameter. You also need permission for the <span class="ElementName">s3:PutObjectVersionTagging</span> action. </p>
    <h2 MadCap:autonum="1.1.  ">Requests</h2>
    <div>
      <h3 MadCap:autonum="1.1.1  ">Request Syntax</h3>
      <p>The following request shows the syntax for sending tagging information in the request body. </p>
      <pre xml:space="preserve">GET /ObjectName?tagging HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Authorization: {{authorizationString}}</pre>
      <pre xml:space="preserve">&lt;Tagging&gt;
  &lt;TagSet&gt;
     &lt;Tag&gt;
       &lt;Key&gt;Tag Name&lt;/Key&gt;
       &lt;Value&gt;Tag Value&lt;/Value&gt;
     &lt;/Tag&gt;
  &lt;/TagSet&gt;
&lt;/Tagging&gt;</pre>
    </div>
    <h3 MadCap:autonum="1.1.2  ">Request Parameters</h3>
    <p style="text-align: left;">The PUT Object Tagging operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.1.3  ">Request Headers</h3>
    <p>Content-MD5 is a required header for this operation. </p>
    <h3 MadCap:autonum="1.1.4  ">Request Elements</h3>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 120px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 80px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 301px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Description</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Required</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Tagging</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>container</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Container for the <span class="ElementName">TagSet</span> element</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Yes</td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>TagSet</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>container</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Contains the tag set</p>
            <p>Ancestors: Tagging</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Yes</td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Tag</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>container</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Contains the tag information</p>
            <p>Ancestors: TagSet</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">No</td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Key</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>String</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Name of the tag</p>
            <p>Ancestors: Tag</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Yes, if Tag is specified</td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>Value</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>Value of the tag</p>
            <p>Ancestors: Tag</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">No</td>
        </tr>
      </tbody>
    </table>
    <h2 MadCap:autonum="1.2.  ">Responses</h2>
    <h3 MadCap:autonum="1.2.1  ">Response Headers</h3>
    <p style="text-align: left;">Implementation of the PUT Object Tagging operation uses only response headers common to all responses (refer to <MadCap:xref href="../8_API Knowledge Primers/Response Headers.htm">“Response Headers” on page 1</MadCap:xref>).</p>
    <h3 MadCap:autonum="1.2.2  ">Response Elements</h3>
    <p style="text-align: left;">The PUT Object Tagging operation does not return response elements.</p>
    <h3 MadCap:autonum="1.2.3  ">Special Errors</h3>
    <ul>
      <li>InvalidTagError — The tag provided was not a valid tag. This error can occur if the tag did not pass input validation. For more information, refer to <a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/object-tagging.html">Object Tagging</a> in the <cite>Amazon Simple Storage Service Developer Guide</cite>.</li>
      <li>MalformedXMLError — The XML provided does not match the schema.</li>
      <li>OperationAbortedError — A conflicting conditional operation is currently in progress against this resource. Please try again.</li>
      <li>InternalError — The service was unable to apply the provided tag to the object.</li>
    </ul>
    <h2 MadCap:autonum="1.3.  ">Examples</h2>
    <h4>Request Sample</h4>
    <p>The following request adds a tag set to the existing object <span class="ElementName">object-key</span> in the <span class="ElementName">examplebucket</span> bucket.</p>
    <pre xml:space="preserve">PUT object-key?tagging HTTP/1.1
Host: {{BucketName}}.s3.scality.com
Content-Length: length
Content-MD5: pUNXr/BjKK5G2UKExample==
x-amz-date: 20160923T001956Z
Authorization: {{authorizationString}}</pre>
    <pre xml:space="preserve">
&lt;Tagging&gt;
   &lt;TagSet&gt;
      &lt;Tag&gt;
         &lt;Key&gt;tag1&lt;/Key&gt;
         &lt;Value&gt;val1&lt;/Value&gt;
      &lt;/Tag&gt;
      &lt;Tag&gt;
         &lt;Key&gt;tag2&lt;/Key&gt;
         &lt;Value&gt;val2&lt;/Value&gt;
      &lt;/Tag&gt;
   &lt;/TagSet&gt;
&lt;/Tagging&gt;</pre>
    <h4>Response Sample</h4>
    <pre xml:space="preserve">HTTP/1.1 200 OK
x-amz-id-2: YgIPIfBiKa2bj0KMgUAdQkf3ShJTOOpXUueF6QKo
x-amz-request-id: 236A8905248E5A01
Date: Thu, 22 Sep 2016 21:33:08 GMT</pre>
  </body>
</html>