﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="853.3333" MadCap:lastWidth="650">
  <head>
    <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
  </head>
  <body>
    <h1 MadCap:autonum="1.  ">Upload Part</h1>
    <p style="text-align: left;">Use the Upload Part operation to upload each part of an object being saved to storage via a multipart upload. Before you using this operation, an <a href="Initiate Multipart Upload.htm" title="Initiate Multipart Upload API operation" alt="Initiate Multipart Upload API operation">Initiate Multipart Upload</a> request must be issued for the object, as the upload ID returned by that operation is required for the Upload Part operation. Along with the upload ID, a part number must also be specified with each Upload Part operation.</p>
    <p style="text-align: left;">Part numbers can be any number from 1 to 10,000, inclusive. A part number uniquely identifies a part and also defines its position within the object being created. If a new part is uploaded using the same part number that was used with a previous part, the previously uploaded part is overwritten. </p>
    <p style="text-align: left;">The largest part size permitted is 5 GB which means that the biggest object that can be split is 50 TB (10,000 * 5 GB). Each part must be at least 5 MB in size, except the last part. There is no minimum size threshold on the last part of a multipart upload.</p>
    <p style="text-align: left;">Each part must be at least 5 MB in size, except the last part. There is no minimum size threshold on the last part of a multipart upload.</p>
    <p style="text-align: left;">After all the parts are uploaded, a <a href="Complete Multipart Upload.htm" title="Complete Multipart Upload API operation" alt="Complete Multipart Upload API operation">Complete Multipart Upload</a> request must be issued.</p>
    <h2 MadCap:autonum="1.1.  ">Requests</h2>
    <h3 MadCap:autonum="1.1.1  ">Request Syntax</h3>
    <pre>PUT /ObjectName?partNumber=PartNumber&amp;amp;uploadId=UploadId HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Content-Length: Size
Authorization: {{authorizationString}}</pre>
    <h3 MadCap:autonum="1.1.2  ">Request Parameters</h3>
    <p style="text-align: left;">The Upload Part operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.1.3  ">Request Headers</h3>
    <p style="text-align: left;"> The Upload Part operation can use a number of optional request headers in addition to those that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Request Headers.htm#Common">“Common Request Headers” on page 1</MadCap:xref>). </p>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 117px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 69px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Content-Length</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>integer</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>The size of the object, in bytes</p>
            <p>Default: None</p>
            <p>Constraints: None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Content-MD5</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>The base64-encoded 128-bit MD5 digest of the message (without the headers) according to RFC 1864. This header can be used as a message integrity check to verify that the data is the same data that was originally sent. Although it is optional, the use of the Content-MD5 mechanism is recommended as an end-to-end integrity check.</p>
            <p>Default: None</p>
            <p>Constraints: None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Expect</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>When your application uses <code>100-continue</code>, it does not send the request body until it receives an acknowledgment. If the message is rejected based on the headers, the body of the message is not sent.</p>
            <p>Default: None</p>
            <p>Valid Values: <code>100-continue</code></p>
            <p>Constraints: None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>Expires</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>The date and time at which the object is no longer cacheable.</p>
            <p>Default: None</p>
            <p>Constraints: None</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 MadCap:autonum="1.1.4  ">Request Elements</h3>
    <p style="text-align: left;">The Upload Part operation does not return request elements.</p>
    <h2 MadCap:autonum="1.2.  ">Responses</h2>
    <h3 MadCap:autonum="1.2.1  ">Response Headers</h3>
    <p style="text-align: left;">Implementation of the Upload Part operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Response Headers.htm">“Response Headers” on page 1</MadCap:xref>).</p>
    <h3 MadCap:autonum="1.2.2  ">Response Elements</h3>
    <p style="text-align: left;">The Upload Part operation does not return response elements.</p>
    <h3 MadCap:autonum="1.2.3  ">Special Errors</h3>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 200px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Error</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">NoSuchUpload error<br />(HTTP 404 Not Found status code)</td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">Occurs when an invalid upload ID is provided in the Upload Part request, or when a multipart upload has already been either completed or aborted.</td>
        </tr>
      </tbody>
    </table>
    <h2 MadCap:autonum="1.3.  ">Examples</h2>
    <h3 MadCap:autonum="1.3.1  ">PUT Request Uploads a Part  in a Multipart Upload </h3>
    <h4>Request Sample</h4>
    <p style="text-align: left;">Part 1 of a multipart upload using the upload ID returned by an <a href="Initiate Multipart Upload.htm" title="Initiate Multipart Upload API operation" alt="Initiate Multipart Upload API operation">Initiate Multipart Upload</a> request:</p>
    <pre>PUT /my-movie.m2ts?partNumber=1&amp;amp;uploadId=VCVsb2FkIElEIGZvciBlbZZpbmcncyBteS1tb3ZpZS5tMnRzIHVwbG9hZR HTTP/1.1
Host: example-bucket.s3.scality.com
Date:  Mon, 1 Nov 2010 20:34:56 GMT
Content-Length: 10485760
Content-MD5: pUNXr/BjKK5G2UKvaRRrOA==
Authorization: {{authorizationString}}
***part data omitted***</pre>
    <h4>Response Sample</h4>
    <p>The response includes the ETag header, a value that is needed for sending the <a href="Complete Multipart Upload.htm" title="Complete Multipart Upload API operation" alt="Complete Multipart Upload API operation">Complete Multipart Upload</a> request.</p>
    <pre>HTTP/1.1 200 OK
x-amz-id-2: Vvag1LuByRx9e6j5Onimru9pO4ZVKnJ2Qz7/C1NPcfTWAtRPfTaOFg==
x-amz-request-id: 656c76696e6727732072657175657374
Date:  Mon, 1 Nov 2010 20:34:56 GMT
ETag: "b54357faf0632cce46e942fa68356b38"
Content-Length: 0
Connection: keep-alive
Server: ScalityS3</pre>
  </body>
</html>