<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="7" MadCap:lastHeight="808.3334" MadCap:lastWidth="648">
  <head>
    <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
  </head>
  <body>
    <h1 MadCap:autonum="1.  ">Upload Part - Copy</h1>
    <p style="text-align: left;">The Upload Part - Copy operation is used to upload a part by copying data from an existing object as data source. The data source is specified by adding the request header <span class="ElementName">x-amz-copy-source</span> to the request, and a byte range is specified by adding the request header <span class="ElementName">x-amz-copy-source-range</span> to the request.</p>
    <p style="text-align: left;">The minimum allowable part size for a multipart upload is 5 MB.</p>
    <p class="BoxTip">Instead of using an existing object as part data, it is possible to use the Upload Part operation and provide data in the request. For more information, refer to <a href="Upload Part.htm">Upload Part</a>.</p>
    <p style="text-align: left;">A multipart upload must be initiated before uploading any part. In response to the initiate request. <MadCap:variable name="General.ProductName" /> returns a unique identifier — the <i>upload ID</i> — that must be included in the upload part request.</p>
    <h2 MadCap:autonum="1.1.  ">Requests</h2>
    <h3 MadCap:autonum="1.1.1  ">Request Syntax</h3>
    <pre>PUT /{{objectName}}?partNumber={{partNumber}}&amp;amp;uploadId={{uploadId}} HTTP/1.1
Host: {{BucketName}}.s3.scality.com
x-amz-copy-source: /{{sourceBucket}}/{{sourceObject}}
x-amz-copy-source-range:bytes={{first-Last}}
x-amz-copy-source-if-match: {{etag}}
x-amz-copy-source-if-none-match: {{etag}}
x-amz-copy-source-if-unmodified-since: {{timeStamp}}
x-amz-copy-source-if-modified-since: {{timeStamp}}
Date: {{date}}
Authorization: {{authorizationString}}</pre>
    <h3 MadCap:autonum="1.1.2  ">Request Parameters</h3>
    <p style="text-align: left;">The Upload Part-Copy operation does not use request parameters.</p>
    <h3 MadCap:autonum="1.1.3  ">Request Headers</h3>
    <p class="pgBreakKeepNext" style="text-align: left;"> The Upload Part operation can use a number of optional request headers in addition to those that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Request Headers.htm#Common">"Common Request Headers" on page 1</MadCap:xref>). </p>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 200px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 75px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>x-amz-copy-source</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>String</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>The name of the source bucket and the source object key name separated by a slash ('/').</p>
            <p>Default: None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>x-amz-copy-source-range</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>Integer</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>The range of bytes to copy from the source object. The range value must use the form bytes=first-last, where the first and last are the zero-based byte offsets to copy (e.g., bytes=0-9 indicates copying the first ten bytes of the source).</p>
            <p>
              <span class="ElementName">x-amz-copy-source-range</span> is not required when copying an entire source object.</p>
            <p>Default: None</p>
          </td>
        </tr>
      </tbody>
    </table>
    <p style="text-align: left;">The following conditional headers are based on the object that the <span class="ElementName">x-amz-copy-source</span> header specifies.</p>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 200px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 75px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>x-amz-copy-source-if-match</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>String</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Perform a copy if the source object entity tag (ETag) matches the specified value. If the value does not match, <MadCap:variable name="General.ProductName" /> returns an HTTP status code <code>412 Precondition Failed</code> error.</p>
            <p class="BoxNote">
              <p>If both the <span class="ElementName">x-amz-copy-source-if-match</span> and <span class="ElementName">x-amz-copy-source-if-unmodified-since</span> headers are present in the request as follows:</p>
              <p>
                <span class="ElementName">x-amz-copy-source-if-match</span> condition evaluates to true, and; <span class="ElementName">x-amz-copy-source-if-unmodified-since</span> condition evaluates to false;</p>
              <p>then, S3 returns <code>200 OK</code> and copies the data.</p>
            </p>
            <p>Default: None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>x-amz-copy-source-if-none-match</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>String</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Perform a copy if the source object entity tag (ETag) is different than the value specified using this header. If the values match, <MadCap:variable name="General.ProductName" /> returns an HTTP status code <code>412 Precondition Failed</code> error.</p>
            <p class="BoxNote">
              <p>If both the <span class="ElementName">x-amz-copy-source-if-none-match</span> and <span class="ElementName">x-amz-copy-source-if-unmodified-since</span> headers are present in the request as follows:</p>
              <p>
                <span class="ElementName">x-amz-copy-source-if-none-match</span> condition evaluates to false, and; <span class="ElementName">x-amz-copy-source-if-unmodified-since</span> condition evaluates to true;</p>
              <p>then, S3 returns <code>412 Precondition Failed</code> response code.</p>
            </p>
            <p>Default: None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>x-amz-copy-source-if-unmodified-since</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>String</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Perform a copy if the source object is not modified after the time specified using this header. If the source object is modified, <MadCap:variable name="General.ProductName" /> returns an HTTP status code <code>412 Precondition Failed</code> error.</p>
            <p class="BoxNote">
              <p>If both the <span class="ElementName">x-amz-copy-source-if-match</span> and <span class="ElementName">x-amz-copy-source-if-unmodified-since</span> headers are present in the request as follows:</p>
              <p>
                <span class="ElementName">x-amz-copy-source-if-match</span> condition evaluates to true, and; <span class="ElementName">x-amz-copy-source-if-unmodified-since</span> condition evaluates to false;</p>
              <p>then, S3 returns <code>200 OK</code> and copies the data.</p>
            </p>
            <p>Default: None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>x-amz-copy-source-if-modified-since</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>String</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Perform a copy if the source object is modified after the time specified using the <span class="ElementName">x-amz-copy-source-if-modified-since</span> header. If the source object is not modified, <MadCap:variable name="General.ProductName" /> returns an HTTP status code <code>412 precondition failed</code> error.</p>
            <p class="BoxNote">
              <p>If both the <span class="ElementName">x-amz-copy-source-if-none-match</span> and <span class="ElementName">x-amz-copy-source-if-unmodified-since</span> headers are present in the request as follows:</p>
              <p>
                <span class="ElementName">x-amz-copy-source-if-none-match</span> condition evaluates to false, and; <span class="ElementName">x-amz-copy-source-if-unmodified-since</span> condition evaluates to true;</p>
              <p>then, S3 returns <code>412 Precondition Failed</code> response code.</p>
            </p>
            <p>Default: None</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h4>Server-Side Encryption-Specific Request Headers</h4>
    <p style="text-align: left;">If the source object is encrypted using server-side encryption with a customer-provided encryption key, it is necessary to use the following headers providing encryption information so that <MadCap:variable name="General.ProductName" /> can decrypt the object for copying.</p>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 200px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 75px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>x-amz-copy-source​-server-side​-encryption​-customer-algorithm</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>String</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Specifies algorithm to use when decrypting the source object.</p>
            <p>Default: None</p>
            <p>Valid Values: <code>AES256</code></p>
            <p>Constraints: Must be accompanied by a valid <span class="ElementName">x-amz-copy-source-server-side-encryption-customer-key</span> and <span class="ElementName">x-amz-copy-source-server-side-encryption-customer-key-MD5</span> headers.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>x-amz-copy-source-server-side​-encryption​-customer-key</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>String</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Specifies the customer provided base-64 encoded encryption key for <MadCap:variable name="General.ProductName" /> to use to decrypt the source object. The encryption key provided in this header must be one that was used when the source object was created.</p>
            <p>Default: None</p>
            <p>Constraints: Must be accompanied by a valid <span class="ElementName">x-amz-copy-source-server-side-encryption-customer-algorithm</span> and <span class="ElementName">x-amz-copy-source-server-side-encryption-customer-key-MD5</span> headers.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>x-amz-copy-source-server-side​-encryption​-customer-key-MD5</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>String</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Specifies the base64-encoded 128-bit MD5 digest of the encryption key according to RFC 1321. <MadCap:variable name="General.ProductName" /> uses this header for a message integrity check to ensure the encryption key was transmitted without error.</p>
            <p>Default: None</p>
            <p>Constraints: Must be accompanied by a valid <span class="ElementName">x-amz-copy-source-server-side-encryption-customer-algorithm</span> and <span class="ElementName">x-amz-copy-source-server-side-encryption-customer-key</span> headers.</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 MadCap:autonum="1.1.4  ">Request Elements</h3>
    <p style="text-align: left;">The Upload Part - Copy operation does not return request elements.</p>
    <h2 MadCap:autonum="1.2.  ">Versioning</h2>
    <p style="text-align: left;">If a bucket has versioning enabled, it is possible to have multiple versions of the same object. By default, <span class="ElementName">x-amz-copy-source</span> identifies the current version of the object to copy. If the current version is a delete marker and a versionId is not specified in the <span class="ElementName">x-amz-copy-source</span>, <MadCap:variable name="General.ProductName" /> returns a 404 error, because the object does not exist. If versionId is specified in the <span class="ElementName">x-amz-copy-source</span> and the versionId is a delete marker, <MadCap:variable name="General.ProductName" /> returns an HTTP 400 error, because a delete marker cannot be specified as a version for the <span class="ElementName">x-amz-copy-source</span>.</p>
    <p style="text-align: left;">Optionally, a specific version of the source object to copy can be specified by adding the versionId subresource, as shown:</p>
    <pre>x-amz-copy-source: /bucket/object?versionId=version id</pre>
    <h2 MadCap:autonum="1.3.  ">Responses</h2>
    <h3 MadCap:autonum="1.3.1  ">Response Headers</h3>
    <p style="text-align: left;">Implementation of the Upload Part - Copy operation can include the following response headers in addition to the response headers that are common to all operations (refer to <MadCap:xref href="../8_API Knowledge Primers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 200px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 75px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1" MadCap:conditions="">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>x-amz-copy-source-version-id</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>String</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>The version of the source object that was copied, if you have enabled versioning on the source bucket.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1" MadCap:conditions="">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">x-amz-server-side​-encryption</td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">If you specified server-side encryption either with an AWS KMS or Amazon S3-managed encryption key in your initiate multipart upload request, the response includes this header. It confirms the encryption algorithm that Amazon S3 used to encrypt the object.</td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1" MadCap:conditions="">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">x-amz-server-side​-encryption-aws-kms-key-id</td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">If the x-amz-server-side-encryption is present and has the value of aws:kms, this header specifies the ID of the AWS Key Management Service (KMS) master encryption key that was used for the object.</td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>x-amz-server-side​-encryption-customer-algorithm</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>String</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>If server-side encryption with customer-provided encryption keys encryption was requested, the response will include this header confirming the encryption algorithm used.</p>
            <p>Valid Values: <code>AES256</code></p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>x-amz-server-side​-encryption-customer-key-MD5</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>String</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>If server-side encryption with customer-provided encryption keys encryption was requested, the response includes this header to provide roundtrip message integrity verification of the customer-provided encryption key.</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 MadCap:autonum="1.3.2  ">Response Elements</h3>
    <p style="text-align: left;">The Upload Part - Copy operation can return the following XML elements of the response (includes XML containers): </p>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 120px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 80px;" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>CopyPartResult</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>container</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Container for all response elements.</p>
            <p>Ancestor: None</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>ETag</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Returns the <span class="ElementName">Etag</span> of the new part.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>LastModified</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>string</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Returns the date the part was last modified.</p>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="BoxIMPORTANT">Part boundaries are factored into ETag calculations, so if the part boundary on the source is different than on the destination, then the ETag data will not match between the two. However, data integrity checks are performed with each copy to ensure that the data written to the destination matches the data at the source.</p>
    <h3 MadCap:autonum="1.3.3  ">Special Errors</h3>
    <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <col class="TableStyle-DetailedwithPadding-Column-Column1" />
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Error</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">NoSuchUpload error (HTTP 404 Not Found status code)</td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">The specified multipart upload does not exist. The upload ID might be invalid, or the multipart upload might have been aborted or completed.</td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>InvalidRequest (HTTP 400 Bad Request status code)</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>The specified copy source is not supported as a byte-range copy source.</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 MadCap:autonum="1.4.  ">Examples</h2>
    <h3 MadCap:autonum="1.4.1  ">PUT Request Uploading One Part of a Multipart Upload </h3>
    <h4>Request Sample A</h4>
    <p style="text-align: left;">The PUT request uploads a part — part number 2  — in a multipart upload. The request specifies a byte range from an existing object as the source of this upload. The request includes the upload ID received in response to an <a href="Initiate Multipart Upload.htm" title="Initiate Multipart Upload API operation" alt="Initiate Multipart Upload API operation">Initiate Multipart Upload</a> request.</p>
    <pre>PUT /{{objectName}}?partNumber={{partNumber}}&amp;amp;uploadId={{uploadId}} HTTP/1.1
Host: {{BucketName}}.s3.scality.com
x-amz-copy-source: /{{sourceBucket}}/{{sourceObject}}
x-amz-copy-source-range:bytes={{first-Last}}
x-amz-copy-source-if-match: {{etag}}
x-amz-copy-source-if-none-match: {{etag}}
x-amz-copy-source-if-unmodified-since: {{timeStamp}}
x-amz-copy-source-if-modified-since: {{timeStamp}}
Date: {{date}}
Authorization: {{authorizationString}}</pre>
    <h4>Response Sample A</h4>
    <p style="text-align: left;">The response includes the ETag header, a value that is needed for sending the <a href="Complete Multipart Upload.htm" title="Complete Multipart Upload API operation" alt="Complete Multipart Upload API operation">Complete Multipart Upload</a> request.</p>
    <pre>HTTP/1.1 200 OK
x-amz-id-2: Vvag1LuByRx9e6j5Onimru9pO4ZVKnJ2Qz7/C1NPcfTWAtRPfTaOFg==
x-amz-request-id: 656c76696e6727732072657175657374
Date:  Mon, 7 Nov 2016 20:34:56 GMT
Server: ScalityS3</pre>
    <pre>&lt;CopyPartResult&gt;
&lt;LastModified&gt;2009-10-28T22:32:00&lt;/LastModified&gt;
&lt;ETag&gt;"9b2cf535f27731c974343645a3985328"&lt;/ETag&gt;
&lt;/CopyPartResult&gt;</pre>
    <h4>Request Sample B</h4>
    <p style="text-align: left;">The PUT request uploads a part (part number 2) in a multipart upload. The request does not specify the optional byte range header, but requests the entire source object copy as part 2. The request includes the upload ID received in response to an <a href="Initiate Multipart Upload.htm" title="Initiate Multipart Upload API operation" alt="Initiate Multipart Upload API operation">Initiate Multipart Upload</a> request.</p>
    <pre>PUT /newobject?partNumber=2&amp;amp;uploadId=VCVsb2FkIElEIGZvciBlbZZpbmcncyBteS1tb3ZpZS5tMnRzIHVwbG9hZR HTTP/1.1
Host: example-bucket.s3.scality.com
Date:  Mon, 7 Nov 2016 20:34:56 GMT
x-amz-copy-source: /source-bucket/sourceobject
Authorization: {{authorizationString}}
Sample Response</pre>
    <h4>Response Sample B</h4>
    <p class="BoxNote" style="text-align: left;">The Request Sample B response structure is similar to the one specified in Response Sample A.</p>
    <h4>Request Sample C</h4>
    <p style="text-align: left;">The PUT request uploads a part (part number 2) in a multipart upload. The request specifies a specific version of the source object to copy by adding the <span class="ProprietaryNonConventional">versionId</span> subresource. The byte range requests 6MB of data, starting with byte 500, as the part to be uploaded.</p>
    <pre>PUT /newobject?partNumber=2&amp;amp;uploadId=VCVsb2FkIElEIGZvciBlbZZpbmcncyBteS1tb3ZpZS5tMnRzIHVwbG9hZR HTTP/1.1
Host: example-bucket.s3.scality.com
Date:  Mon, 7 Nov 2016 20:34:56 GMT
x-amz-copy-source: /source-bucket/sourceobject?versionId=3/L4kqtJlcpXroDTDmJ+rmSpXd3dIbrHY+MTRCxf3vjVBH40Nr8X8gdRQBpUMLUo
x-amz-copy-source-range:bytes=500-6291456
Authorization: {{authorizationString}}</pre>
    <h4>Response Sample C</h4>
    <p style="text-align: left;">The response includes the ETag header, a value that is needed for sending the <a href="Complete Multipart Upload.htm" title="Complete Multipart Upload API operation" alt="Complete Multipart Upload API operation">Complete Multipart Upload</a> request.</p>
    <pre>HTTP/1.1 200 OK
x-amz-id-2: Vvag1LuByRx9e6j5Onimru9pO4ZVKnJ2Qz7/C1NPcfTWAtRPfTaOFg==
x-amz-request-id: 656c76696e6727732072657175657374
x-amz-copy-source-version-id: 3/L4kqtJlcpXroDTDmJ+rmSpXd3dIbrHY+MTRCxf3vjVBH40Nr8X8gdRQBpUMLUo
Date:  Mon, 7 Nov 2016 20:34:56 GMT
Server: ScalityS3</pre>
    <pre>&lt;CopyPartResult&gt;
&lt;LastModified&gt;2009-10-28T22:32:00&lt;/LastModified&gt;
&lt;ETag&gt;"9b2cf535f27731c974343645a3985328"&lt;/ETag&gt;
&lt;/CopyPartResult&gt;</pre>
  </body>
</html>