﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="736" MadCap:lastWidth="648">
  <head>
    <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
  </head>
  <body>
    <h1 MadCap:autonum="1.  ">
      <a name="top"></a>Request Headers</h1>
    <p style="text-align: left;">All request headers are passed as strings, but are not enclosed in quotation marks. They must be listed on separate lines, and each header included in the request signature must be followed by a newline marker (\n) in the signature string.</p>
    <h2 MadCap:autonum="1.1.  ">
      <a name="Common"></a>Common Request Headers</h2>
    <table class="TableStyle-DetailedwithPadding" cellspacing="0" style="mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');">
      <col style="width: 25%;" class="TableStyle-DetailedwithPadding-Column-Column1"></col>
      <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 75%;"></col>
      <thead>
        <tr class="TableStyle-DetailedwithPadding-Head-Header1">
          <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
          <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Authorization</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p style="text-align: left;">information required for request authentication.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Content-Length</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Length of the message (without the headers);  required for PUTs and operations that load XML, such as logging and ACLs.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Content-Type</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>The content type of the resource in case the request content in the body (e.g., text/plain).</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Content-MD5</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>The base64 encoded 128-bit MD5 digest of the message (without the headers; can be used as a message integrity check to verify that the data is the same data that was originally sent.</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Date</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Current date and time according to the requester (e.g., Tues, 14 Jun 2011 08:30:00 GMT); either the <span class="ElementName">x-amz-date</span> or the <span class="ElementName">Date </span>header must be specified in the Authorization header</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Expect</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>When an application uses 100-continue, it does not send the request body until it receives an acknowledgment. If the message is rejected based on the headers, the body of the message is not sent; can be used only if a body is being sent</p>
            <p>Valid Values: <code>100-continue</code></p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>Host</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>Host URI (e.g., s3.{{StorageService}}.com or {{BucketName}}.s3.{{StorageService}}.com); required for HTTP 1.1, optional for HTTP/1.0 requests</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
            <p>x-amz-date</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
            <p>The current date and time according to the requester(e.g., Wed, 01 Mar 2006 12:00:00 GMT); either the <span class="ElementName">x-amz-date</span> or the <span class="ElementName">Date </span>header must be specified in the Authorization header (If both specified, the value specified for the <span class="ElementName">x-amz-date</span> header takes precedence).</p>
          </td>
        </tr>
        <tr class="TableStyle-DetailedwithPadding-Body-Body1">
          <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
            <p>x-amz-security-token</p>
          </td>
          <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
            <p>Provide security token when using temporary security credentials—When making requests using temporary security credentials obtained from IAM, a security token must be provided using this header. </p>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 MadCap:autonum="1.2.  ">Using the Date Header as an “Expires” Field</h2>
    <p style="text-align: left;">Query string authentication can be used for giving HTTP or browser access to resources that require authentication. When using query string authentication, an <code>Expires</code> field must be included in the header request. </p>
    <p style="text-align: left;">Properly speaking, <code>Expires</code> is not a common request header but a sub-resource of the URL passed to a client. Use it in place of the <code>Date header</code> field when distributing a request with the query string authentication mode. The <code>Expires</code> field indicates the number of seconds from Unix Epoch time that a request signature remains valid.</p>
  </body>
</html>