﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="220" MadCap:lastWidth="648">
  <head></head>
  <body>
    <h1 class="frontmatter">Typographic Conventions</h1>
    <p style="text-align: left;">Text that is entered into or that displays within terminal windows is presented in <code>monospace</code> typeface.</p>
    <p style="text-align: left;">Text that displays as a component of a graphical user interface (GUI) – content, menus, menu commands, etc. – is presented in a <span class="ProperNameBold">Bold</span> typeface.</p>
    <p style="text-align: left;">Proprietary terms, non-conventional terms, and terms to be emphasized are presented initially in <span class="ProprietaryNonConventional">italic</span> text, and occasionally thereafter for purposes of clarity. File names are always presented in <span class="ProprietaryNonConventional">italic</span> text.</p>
    <p style="text-align: left;">Variable values are offered in lower camelCase within curly braces (e.g., {{variableValue}}).</p>
  </body>
</html>